extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="about")
            div(class="page-text")
                h1 О компании
                div(class="page-inner page-inner--w4")
                    p Компания “Солнечный Сочи” занимается экспертным подбором недвижимости любых типов в городе-курорте Сочи, организовывая не только полное сопровождение сделки, но и предлагая инвестиционные проекты “под ключ”.
                    p Компания постоянно развивается, следуя современным тенденциям и технологиям. Каждый клиент представляет для компании большую ценность, что проявляется в качественной индивидуальной работе под каждого желающего приобрести недвижимость в лучшем курорте России - Сочи. Компания “Солнечный Сочи” отличается выстраиванием прозрачных отношений с клиентами и партнерами. Основной упор делается не на увеличение числа сотрудников, а на рост экспертности и знания рынка недвижимости у каждого работающего в компании. Экспертами компании “Солнечный Сочи” организовывается индивидуальная дистанционная работа под каждого клиента, высококомфортабельный сервис и полное юридической сопровождение сделки.
                        
    div(class="page-inner page-inner--max", style="background:#f7f8fb")
        div(class="about-info")
            div(class="page-inner page-inner--w1")
                div(class="page-text")
                    h2 Компания &#171;Солнечный Сочи&#187; - это
                    
                    div(class="about-info-container", data-movesetting='{"speed":"1000", "margin": "50"}', data-moveitems=".about-info-item")
                        div(class="about-info-item")
                            div(class="about-info-title") 1
                            div(class="about-info-text") первый многофункциональный сайт по недвижимости в России
                        div(class="about-info-item")
                            div(class="about-info-title") 30
                            div(class="about-info-text") квалифицированных экспертов по недвижимости
                        div(class="about-info-item")
                            div(class="about-info-title") 5
                            div(class="about-info-text") лет на рынке недвижимости Сочи
                        div(class="about-info-item")
                            div(class="about-info-title") 99%
                            div(class="about-info-text") застройщиков - наши партнеры
                        div(class="about-info-item")
                            div(class="about-info-title") 47
                            div(class="about-info-text") среднее число показов объектов в день
                        div(class="about-info-item")
                            div(class="about-info-title") 106
                            div(class="about-info-text") среднее число консультаций в сутки
                        div(class="about-info-item")
                            div(class="about-info-title") 2500
                            div(class="about-info-text") объектов недвижимости в базе
                                
    div(class="page-inner page-inner--max")
        div(class="page-inner page-inner--w1")
            div(class="about-home")
                div(class="page-text")
                    h2 О нас за 100 секунд
                div(class="about-video")
                    iframe(frameborder="0", height="100%", width="100%", src="https://www.youtube.com/embed/WuiuPyfmSSc?rel=0&controls=0&showinfo=0", allow="autoplay; encrypted-media", allowfullscreen)
                    
