extends ../templates/base

block content
    div(class="apartment")
        div(class="page-inner page-inner--w1")    
            div(class="apartment-header")
                div(class="apartment-header-col")
                    div(class="apartment-title") 3-комп. квартира, 170 м
                        sup 2
                    div(class="apartment-location") Сочи
                        a(href="#",class="link link-black link-black--bottom", target="_blank") Район Светлана,
                        a(href="#",class="link link-black link-black--bottom", target="_blank") ЖК &#171;Тауер&#187;
                        a(href="#", class="link link-orange link-orange--bottom apartment-location-map", data-goto="#mapYandex") На карте
                
        div(class="page-inner page-inner--max")    
            div(class="apartment-preview")
                div(class="page-inner page-inner--w1")
                    div(class="apartment-preview-container")
                        div(class="apartment-slider apartment-slider--w75 for-preloader")
                            div(class="light-slider")
                                div(class="apartment-slider-item", data-thumb="../dummy/apartment/slide_1.png")
                                    img(src="../dummy/apartment/slide_1.png", alt="")
                                div(class="apartment-slider-item", data-thumb="../dummy/apartment/slide_2.jpg")
                                    img(src="../dummy/apartment/slide_2.jpg", alt="")
                                div(class="apartment-slider-item", data-thumb="../dummy/apartment/slide_3.jpg")
                                    img(src="../dummy/apartment/slide_3.jpg", alt="")
                                div(class="apartment-slider-item", data-thumb="../dummy/apartment/slide_4.jpg")
                                    img(src="../dummy/apartment/slide_4.jpg", alt="")
                                div(class="apartment-slider-item", data-thumb="../dummy/apartment/slide_5.jpg")
                                    img(src="../dummy/apartment/slide_5.jpg", alt="")
                                div(class="apartment-slider-item", data-thumb="../dummy/apartment/slide_6.jpg")
                                    img(src="../dummy/apartment/slide_6.jpg", alt="")
                                div(class="apartment-slider-item", data-thumb="../dummy/apartment/slide_7.jpg")
                                    img(src="../dummy/apartment/slide_7.jpg", alt="")
                                div(class="apartment-slider-item", data-thumb="../dummy/apartment/slide_8.jpg")
                                    img(src="../dummy/apartment/slide_8.jpg", alt="")
                        div(class="apartment-preview-text fixed-block")
                            a(href="#", class="link apartment-preview-text-icon")
                                include ../../prod/svg/star_orage.svg
                            div(class="apartment-preview-text-price") 80 000 000
                            div(class="apartment-preview-text-credit") 470 000 м
                                sup 2
                            div(class="apartment-preview-text-id") ID 265437
                            a(href="form-bid.html", class="link button button--orange-reverse apartment-preview-order mfp-modal", data-mfp-type="ajax", data-mfp-ajaxcontent="#form-call", data-mfp-bcg="#009ecc", data-mfp-closeinside="false") Заявка
                            
        div(class="page-inner page-inner--w4")
            div(class="apartment-information")
                div(class="page-text")
                    div(class="apartment-description-item")
                        div(class="apartment-features")
                            div(class="apartment-features-item")
                                div(class="apartment-features-item-icon")
                                    include ../../prod/svg/sea.svg 
                                div(class="apartment-features-item-text") Вид на море 
                            div(class="apartment-features-item")
                                div(class="apartment-features-item-icon")
                                    include ../../prod/svg/original.svg 
                                div(class="apartment-features-item-text") Оригинальный проект
                            div(class="apartment-features-item")
                                div(class="apartment-features-item-icon")
                                    include ../../prod/svg/save.svg
                                div(class="apartment-features-item-text") Охраняемая территория
                            div(class="apartment-features-item")
                                div(class="apartment-features-item-icon")
                                    include ../../prod/svg/original.svg
                                div(class="apartment-features-item-text") Магазины рядом
                    div(class="apartment-description-item")
                        div(class="border-text border-text--full")
                            p Квартира в элитном жилом комплексе, который расположен в историческом престижном районе с развитой инфраструктурой. В квартире тр спальни, три санузла, и просторная кухня-гостиная, а так же два балкона. Из окон открывается панорамный вид на море. ОТделка выполнена из дорогих материалов, напольное покрытие - паркетная доска. На кухне установлен дорогой итальянский гарнитур, фирменная встроенная бытовая техника. В гостиной находится биокамин - экологически чистый камин нового поколения. Установлена экскюзивная входная дверь с системой открытия с помощью пин-кода или отпечатка.
                    div(class="apartment-description-item")
                        div(class="apartment-detail-info")
                            dl
                                dt Площадь
                                dd 140м
                                    sup 2
                                dt Этаж
                                dd 14
                                dt Количество комнат 
                                dd 5
                                dt Количество сан узлов 
                                dd 3
                                dt Высота потолков 
                                dd 3,3 м
                                dt Отделка 
                                dd с ремонтом
                                dt Парковка 
                                dd придомовая и подземная
                                dt Тип постройки 
                                dd монолит
                                dt Расстояние до моря 
                                dd 200 м
                                dt Вид на море 
                                dd да
                                dt Коммуникации 
                                dd центральные
                                dt Отопление 
                                dd центральное
                                dt Канализация 
                                dd центральная
                    
                    div(class="apartment-description-item")
                        div(class="apartment-map")
                            div(class="map", id="mapYandex", data-center="[43.56945161528474,39.73675069213602]", data-zoom="19", data-points='[{name:"1", position: "43.56945161528474,39.73675069213602", description:"Сочи, район Светлана, 3-комп. квартира, 170 м"}]')
                            //div(class="map", id="mapGoogle", data-lat="43.60405218", data-lng="39.73541935", data-zoom="16", data-icon="../svg/point_map.svg")
            
        div(class="page-inner page-inner--max", style="background:#f7f8fb")
            div(class="page-inner page-inner--w1")
                div(class="page-text")
                    h2 Похожие объекты

                    div(class="offers-list")
                        div(class="offers-item")
                            div(class="offers-container-favorites")
                                button(type="button", class="link offers-container-favorites-icon") 
                                    include ../../prod/svg/star_orage.svg
                                button(type="button", class="link link-orange link-orange--bottom offers-container-favorites-text") Добавить в избранное
    
                            div(class="offers-container")
                                img(src="../dummy/home_1.png", alt  class="offers-container-img")
                                div(class="offers-container-price") 1 167 920 &#8381;
                            div(class="offers-information")
                                div(class="page-text")
                                    div(class="offers-name") ЖК Семейный
                                    div(class="offers-district") Лазаревский район
                                    div(class="offers-floor") Этаж:
                                        span(class="active") 3
                                        / 10                
                            a(href="#", class="link button button--orange offers-container-more") Подробнее
                    
                        div(class="offers-item")
                            div(class="offers-container-favorites")
                                button(type="button", class="link offers-container-favorites-icon") 
                                    include ../../prod/svg/star_orage.svg
                                button(type="button", class="link link-orange link-orange--bottom offers-container-favorites-text") Добавить в избранное
    
                            div(class="offers-container")
                                img(src="../dummy/home_2.png", alt  class="offers-container-img")
                                div(class="offers-container-price") 2 200 900 &#8381;
                            div(class="offers-information")
                                div(class="page-text")
                                    div(class="offers-name") ЖК Эко Хаус 2
                                    div(class="offers-district") Район Хоста
                                    div(class="offers-floor") Этаж:
                                        span(class="active") 1
                                        / 10
                                            
                            a(href="#", class="link button button--orange offers-container-more") Подробнее
                    
                        div(class="offers-item")
                            div(class="offers-container-favorites")
                                button(type="button", class="link offers-container-favorites-icon") 
                                    include ../../prod/svg/star_orage.svg
                                button(type="button", class="link link-orange link-orange--bottom offers-container-favorites-text") Добавить в избранное
    
                            div(class="offers-container")
                                img(src="../dummy/home_3.png", alt  class="offers-container-img")
                                div(class="offers-container-price") 2 330 000 &#8381;
                            div(class="offers-information")
                                div(class="page-text")
                                    div(class="offers-name") ЖК Лесная поляна 
                                        br 
                                        | (2-я очередь)
                                    div(class="offers-district") Район Дагомыс
                                    div(class="offers-floor") Этаж:
                                        span(class="active") 7
                                        / 11
                                            
                            a(href="#", class="link button button--orange offers-container-more") Подробнее
    
        div(class="page-inner page-inner--max", style="background:#009ecc")
            div(class="page-inner page-inner--w1")
                div(class="order-call")
                    div(class="page-text")
                        h2 Закажите профессиональный подбор сейчас
                    form(class="form form-order-call")
                        div(class="form-row form-row--100")
                            input(type="text", id="name", name="name", class="form-item form-item--text", required, data-error="Ваше имя", aria-required="true", placeholder="Ваше имя")
                        div(class="form-row form-row--100")
                            input(type="text", id="mobile", name="mobile", class="form-item form-item--text", required, data-error="Укажите телефон", aria-required="true", data-pattern="mobileRU", data-number="+7 (000) 000-00-00", placeholder="Контактный телефон")
                        div(class="form-row form-row--100")
                            div(class="order-call-privacy") Нажимая на кнопку "Отправить заявку", вы даете
                                a(href="#", class="link link-white link--opacity") согласие на обработку своих персональных данных
                        div(class="form-row form-row--100")
                            button(type="submit", class="button button--orange-flood send-order") Отправить заявку
                    div(class="order-call-hotline")
                        span(class="order-call-hotline-text") Бесплатная горячая линия
                        a(href="tel:+78007075523", class="link link-white link--opacity order-call-hotline-mobile") 8-800-707-55-23
                        span(class="order-call-hotline-text") операторы доступны
                        span(class="order-call-hotline-text") с 8:00 до 22:00 МСК
                    div(class="order-call-icon")
                        include ../../prod/svg/call.svg
