extends ../templates/base

block content
    div(class="page-inner page-inner--w4")
        div(class="blog blog-detail")
            div(class="page-text")
                h1 Налог на землю для пенсионеров
                div(class="blog-data") 14 марта 2018
                div(class="blog-views active")
                    span(class="blog-views-icon")
                        include ../../prod/svg/views.svg 
                    span(class="blog-views-count") 203
                div(class="blog-rating", data-rating, data-rating-value="3", data-rating-read="true")

                div(class="blog-holder")
                    img(src="../dummy/blog/1.png", class="blog-img")
                        
                h3 Сделка через нотариуса
                p 2 июня 2016 года Глава Российской Федерации Владимир Путин поставил свою подпись под Федеральным законом №172-ФЗ, которой вводит неотъемлемое нотариальное свидетельство абсолютно всех сделок по отчуждению долей недвижимого имущества.
                p Федеральный закон №172-ФЗ продолжает развивать начатую Федеральным законом №391-ФЗ стратегию борьбы с мошенничеством, в том числе с так называемым «квартирным рейдерством» при поддержке нотариата. Новеллы закона теперь более серьезно защитят права граждан не достигших совершеннолетия.
                p Принятым в конце 2015 года Федеральным законом №391-ФЗ вводилась строгая нотариальная форма для продажи доли недвижимого имущества посторонним лицам. Тем самым нотариус обязан удостовериться в том, что остальные сособственники были извещены надлежащим образом о намерении продать долю в их имуществе, и могли воспользоваться преимущественным правом покупки. Тем самым схема продажи микродоли рейдерам за "копейки" уничтожена.
                
                div(class="blog-holder")
                    img(src="../dummy/blog/7.png", class="blog-img")
            
                h3 Сделка через нотариуса
                p 2 июня 2016 года Глава Российской Федерации Владимир Путин поставил свою подпись под Федеральным законом №172-ФЗ, которой вводит неотъемлемое нотариальное свидетельство абсолютно всех сделок по отчуждению долей недвижимого имущества.
                p Федеральный закон №172-ФЗ продолжает развивать начатую Федеральным законом №391-ФЗ стратегию борьбы с мошенничеством, в том числе с так называемым «квартирным рейдерством» при поддержке нотариата. Новеллы закона теперь более серьезно защитят права граждан не достигших совершеннолетия.
                p Принятым в конце 2015 года Федеральным законом №391-ФЗ вводилась строгая нотариальная форма для продажи доли недвижимого имущества посторонним лицам. Тем самым нотариус обязан удостовериться в том, что остальные сособственники были извещены надлежащим образом о намерении продать долю в их имуществе, и могли воспользоваться преимущественным правом покупки. Тем самым схема продажи микродоли рейдерам за "копейки" уничтожена.

                div(class="blog-tags")
                    div(class="blog-tag") Налоги
                    div(class="blog-tag") Пенсионеры
                    div(class="blog-tag") Законодательство
                
                div(class="blog-actions")
                    div(class="blog-share")
                        div(class="blog-share-title") Поделиться:
                        div(class="blog-share-items") 
                            a(href="https://vk.com/share.php?url=http://wemakesites.ru/projects/sunsochi/", target="_blank", class="link blog-share-item")
                                include ../../prod/svg/vk.svg
                            a(href="https://www.facebook.com/sharer/sharer.php?u=http://wemakesites.ru/projects/sunsochi/", target="_blank", class="link blog-share-item")
                                include ../../prod/svg/fb.svg
                    div(class="blog-estimate")
                        div(class="blog-estimate-title") Поставить оценку:
                        div(class="blog-rating", data-rating, data-rating-value="3")

    div(style="background:#f7f8fb", class="page-inner page-inner--max")
        div(class="page-inner page-inner--w1")
            div(class="blog blog-offers")
                div(class="page-text")
                    h2 Почитать еще на эту тему
        
                div(class="blog-list")
                    div(class="blog-item")     
                        div(class="blog-holder")
                            img(src="../dummy/blog/2.png", class="blog-img")
                        div(class="blog-title") Как взять ипотеку ИП
                        div(class="blog-data") 14 марта 2018
                        div(class="blog-views active")
                            span(class="blog-views-icon")
                                include ../../prod/svg/views.svg 
                            span(class="blog-views-count") 203
                        div(class="blog-rating", data-rating, data-rating-value="3")
                        div(class="blog-text") Для многих индивидуальных предпринимателей ипотечное кредитование – единственная возможность выгодно для себя приобрести жилую или коммерческую недвижимость. 
                        div(class="blog-tags")
                            div(class="blog-tag") Кредит
                            div(class="blog-tag") Индивидуальный предприниматель
                    div(class="blog-item")     
                        div(class="blog-holder")
                            img(src="../dummy/blog/3.png", class="blog-img")
                        div(class="blog-title") Аванс, задаток и залог при сделках с имуществом
                        div(class="blog-data") 2 февраля 2018
                        div(class="blog-views")
                            span(class="blog-views-icon")
                                include ../../prod/svg/views.svg
                            span(class="blog-views-count")
                        div(class="blog-rating", data-rating, data-rating-value="2")
                        div(class="blog-text") Приобретение недвижимости, как правило, сопровождается не только приятным предвкушением, но и вполне объясняемыми опасениями, мифами и страхами, как минимум, с точки зрения самого популярного - потерять собственные средства и “сесть в калошу”.
                        div(class="blog-tags")
                            div(class="blog-tag") Кредит
                            div(class="blog-tag") Участки


    div(class="page-inner page-inner--max", style="background:#009ecc")
        div(class="page-inner page-inner--w1") 
            div(class="order-sub")
                div(class="page-text")
                    h2 Быть в курсе – просто. 
                        br
                        | Подпишитесь!
                form(class="form form-order-sub")
                    div(class="form-row form-row--100")
                        input(type="email", id="name", name="name", class="form-item form-item--text", required, data-error="Укажите Ваш e-mail", aria-required="true", placeholder="Укажите e-mail")
                    div(class="form-row form-row--100")
                        div(class="order-call-privacy") Нажимая на кнопку "Отправить заявку", вы даете&nbsp;
                            a(href="#", class="link link-white link--opacity") согласие на обработку своих персональных данных
                    div(class="form-row form-row--100")
                        button(type="submit", class="button button--orange-flood send-order") Подписаться на блог
