extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="developers")
            div(class="page-text")
                h1 РЕМСТРОЙТРЕСТ
                div(class="developer-info")
                    img(src="../dummy/rems.png", class="img img--left")
                    p(class="right") Инвестиционно-строительная компания «РЕМСТРОЙТРЕСТ» была зарегистрирована в 1991 году на базе ремонтно-строительного треста Черемушкинского района города Москвы. Свою деятельность компания ведет более 35 лет – с 1978 года. С момента создания и по настоящее время руководителем компании является Заслуженный и Почётный строитель России и Москвы, кавалер ордена "Святого Станислава" - Евсеева Галина Николаевна.
                    p(class="right") ЗАО «РЕМСТРОЙТРЕСТ» первостепенное внимание уделяет клиентам, которые, в свою очередь, ценят в компании надежность, соблюдение сроков, гарантии и качество работы. Одно из преимуществ ЗАО «РЕМСТРОЙТРЕСТ» - постоянное повышение квалификации сотрудников с изучением современных технологий и методик. Все работы выполняются профессионалами, специалистами высокого уровня. Генеральный директор компании Евсеева Галина Николаевна - человек с огромным опытом (более 50 лет в отрасли), талантливый руководитель, заботящийся о нуждах компании. Благодаря Галине Николаевне в компании найдено оптимальное соотношение между квалифицированными работниками и молодыми специалистами. 
                    p(class="right") Инвестиционно-строительная компания «РЕМСТРОЙТРЕСТ» также проводит большую благотворительную деятельность, помогая Российской Православной Церкви возрождать монастыри. Компания оказывала помощь при восстановлении Храма Христа Спасителя, нескольким церквям в Юго-Западном округе Москвы, а также Свято-Троицкому Стефано-Махрищскому женскому монастырю. В 2007 году Евсеева Галина Николаевна была награждена Патриаршей грамотой за усердные труды во славу Русской православной церкви.
                    p(class="right") Компания постоянно расширяет свою географию деятельности. Несмотря на то, что основная часть работ выполняется в Москве и Новой Москве, ЗАО «РЕМСТРОЙТРЕСТ» также ведет строительство в Санкт-Петербурге и других регионах России.


    div(class="page-inner page-inner--max", style="background:#f7f8fb")
        div(class="developers-offers")
            div(class="page-inner page-inner--w1")
                div(class="page-text")
                    h2 Объекты застройщика
                div(class="offers-list", id="offers-list-load")
                    div(class="offers-item")
                        div(class="offers-container-favorites")
                            button(type="button", class="link offers-container-favorites-icon") 
                                include ../../prod/svg/star_orage.svg
                            button(type="button", class="link link-orange link-orange--bottom offers-container-favorites-text") Добавить в избранное

                        div(class="offers-container")
                            div(class="offers-container-mark") Акция
                            img(src="../dummy/home_1.png", alt  class="offers-container-img")
                            div(class="offers-container-price") 1 167 920 &#8381;
                        div(class="offers-information")
                            div(class="page-text")
                                div(class="offers-name") ЖК Семейный
                                div(class="offers-district") Лазаревский район
                                span(class="offers-time") II кв. 2020
                                dl
                                    dt 
                                        span Студия
                                    dd
                                        span от 1 167 920 &#8381;
                                    dt
                                        span 1 комн.
                                    dd
                                        span от 1 910 920 &#8381;
                                    dt
                                        span 2 комн.
                                    dd
                                        span от 1 910 920 &#8381;
                        
                        a(href="#", class="link button button--orange offers-container-more") Подробнее

                    div(class="offers-item")
                        div(class="offers-container-favorites")
                            button(type="button", class="link offers-container-favorites-icon") 
                                include ../../prod/svg/star_orage.svg
                            button(type="button", class="link link-orange link-orange--bottom offers-container-favorites-text") Добавить в избранное

                        div(class="offers-container")
                            img(src="../dummy/home_2.png", alt  class="offers-container-img")
                            div(class="offers-container-price") 2 200 900 &#8381;
                        div(class="offers-information")
                            div(class="page-text")
                                div(class="offers-name") ЖК Эко Хаус 2
                                div(class="offers-district") Район Хоста
                                span(class="offers-time") IV кв. 2018
                                dl
                                    dt 
                                        span Студия
                                    dd
                                        span от 1 167 920 &#8381;
                                    dt
                                        span 1 комн.
                                    dd
                                        span от 1 910 920 &#8381;
                                    dt
                                        span 2 комн.
                                    dd
                                        span от 1 910 920 &#8381;
                                        
                        a(href="#", class="link button button--orange offers-container-more") Подробнее
                        
                    div(class="offers-item")
                        div(class="offers-container-favorites")
                            button(type="button", class="link offers-container-favorites-icon") 
                                include ../../prod/svg/star_orage.svg
                            button(type="button", class="link link-orange link-orange--bottom offers-container-favorites-text") Добавить в избранное

                        div(class="offers-container")
                            div(class="offers-container-mark") Лучшиее инвестиции
                            img(src="../dummy/home_3.png", alt  class="offers-container-img")
                            div(class="offers-container-price") 2 330 000 &#8381;
                        div(class="offers-information")
                            div(class="page-text")
                                div(class="offers-name") ЖК Лесная поляна 
                                    br 
                                    | (2-я очередь)
                                div(class="offers-district") Район Дагомыс
                                span(class="offers-time") СДАН
                                dl
                                    dt 
                                        span Студия
                                    dd
                                        span от 1 167 920 &#8381;
                                    dt
                                        span 1 комн.
                                    dd
                                        span от 1 910 920 &#8381;
                                    dt
                                        span 2 комн.
                                    dd
                                        span от 1 910 920 &#8381;
                                        
                        a(href="#", class="link button button--orange offers-container-more") Подробнее
        
                    div(class="offers-item")
                        div(class="offers-container-favorites")
                            button(type="button", class="link offers-container-favorites-icon") 
                                include ../../prod/svg/star_orage.svg
                            button(type="button", class="link link-orange link-orange--bottom offers-container-favorites-text") Добавить в избранное

                        div(class="offers-container")
                            div(class="offers-container-mark") Спеццена
                            img(src="../dummy/home_1.png", alt  class="offers-container-img")
                            div(class="offers-container-price") 1 167 920 &#8381;
                        div(class="offers-information")
                            div(class="page-text")
                                div(class="offers-name") ЖК Семейный
                                div(class="offers-district") Лазаревский район
                                span(class="offers-time") II кв. 2020
                                dl
                                    dt 
                                        span Студия
                                    dd
                                        span от 1 167 920 &#8381;
                                    dt
                                        span 1 комн.
                                    dd
                                        span от 1 910 920 &#8381;
                                    dt
                                        span 2 комн.
                                    dd
                                        span от 1 910 920 &#8381;
                                        
                        a(href="#", class="link button button--orange offers-container-more") Подробнее
                
                    div(class="offers-item")
                        div(class="offers-container-favorites")
                            button(type="button", class="link offers-container-favorites-icon") 
                                include ../../prod/svg/star_orage.svg
                            button(type="button", class="link link-orange link-orange--bottom offers-container-favorites-text") Добавить в избранное

                        div(class="offers-container")
                            div(class="offers-container-mark") Самый центр
                            img(src="../dummy/home_2.png", alt  class="offers-container-img")
                            div(class="offers-container-price") 2 200 900 &#8381;
                        div(class="offers-information")
                            div(class="page-text")
                                div(class="offers-name") ЖК Эко Хаус 2
                                div(class="offers-district") Район Хоста
                                span(class="offers-time") IV кв. 2018
                                dl
                                    dt 
                                        span Студия
                                    dd
                                        span от 1 167 920 &#8381;
                                    dt
                                        span 1 комн.
                                    dd
                                        span от 1 910 920 &#8381;
                                    dt
                                        span 2 комн.
                                    dd
                                        span от 1 910 920 &#8381;
                                        
                        a(href="#", class="link button button--orange offers-container-more") Подробнее

                    div(class="offers-item")
                        div(class="offers-container-favorites")
                            button(type="button", class="link offers-container-favorites-icon") 
                                include ../../prod/svg/star_orage.svg
                            button(type="button", class="link link-orange link-orange--bottom offers-container-favorites-text") Добавить в избранное

                        div(class="offers-container")
                            div(class="offers-container-mark") Лучшиее предложение!
                            img(src="../dummy/home_3.png", alt  class="offers-container-img")
                            div(class="offers-container-price") 2 330 000 &#8381;
                        div(class="offers-information")
                            div(class="page-text")
                                div(class="offers-name") ЖК Лесная поляна 
                                    br
                                    | (2-я очередь)
                                div(class="offers-district") Район Дагомыс
                                span(class="offers-time") СДАН
                                dl
                                    dt 
                                        span Студия
                                    dd
                                        span от 1 167 920 &#8381;
                                    dt
                                        span 1 комн.
                                    dd
                                        span от 1 910 920 &#8381;
                                    dt
                                        span 2 комн.
                                    dd
                                        span от 1 910 920 &#8381;
                                        
                        a(href="#", class="link button button--orange offers-container-more") Подробнее
                div(class="offers-more")
                    a(href="offers-load.html?PAGE=test", data-container="#offers-list-load", data-itemsselector=".offers-item", class="link button button--blue load-more") Показать еще
