extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="developers")
            div(class="page-text")
                h1 Застройщики
                div(class="page-subtitle") Мы собрали для вас информацию по всем компаниям-застройщикам, которые занимаются строительством жилых комплексов в городе-курорте Сочи.
                
            div(class="developers-list")
                div(class="developers-item")
                    div(class="developers-letter") A
                    div(class="developers-company")
                        a(href="#", class="link link--showdow-black-blue developers-link") ALK++Company
                        a(href="#", class="link link--showdow-black-blue developers-link") ARS Group
                        a(href="#", class="link link--showdow-black-blue developers-link") Atlant Group
                        
                div(class="developers-item")
                    div(class="developers-letter") A
                    div(class="developers-company")
                        a(href="#", class="link link--showdow-black-blue developers-link") Абсолют
                        a(href="#", class="link link--showdow-black-blue developers-link") АДДА
                        a(href="#", class="link link--showdow-black-blue developers-link") Айвазян Артак Альбертович
                        a(href="#", class="link link--showdow-black-blue developers-link") Акцепт
                        a(href="#", class="link link--showdow-black-blue developers-link") АЛЬПИКА

                div(class="developers-item")
                    div(class="developers-letter") М
                    div(class="developers-company")
                        a(href="#", class="link link--showdow-black-blue developers-link") Мануфактура-Юг
                        a(href="#", class="link link--showdow-black-blue developers-link") Мацестареалстрой
                        a(href="#", class="link link--showdow-black-blue developers-link") Мебельщик
                        a(href="#", class="link link--showdow-black-blue developers-link") Мега-Траст
                        a(href="#", class="link link--showdow-black-blue developers-link") МЕТРОПОЛИС
                        
                div(class="developers-item")
                    div(class="developers-letter") B
                    div(class="developers-company")
                        a(href="#", class="link link--showdow-black-blue developers-link") BASISgroup
                        
                div(class="developers-item")
                    div(class="developers-letter") B
                    div(class="developers-company")
                        a(href="#", class="link link--showdow-black-blue developers-link") Вартанян Артур Ашотович
                        a(href="#", class="link link--showdow-black-blue developers-link") Васнев Андрей Юрьевич
                        a(href="#", class="link link--showdow-black-blue developers-link") Весенний
                        a(href="#", class="link link--showdow-black-blue developers-link") ВнешОптТорг
                        
                div(class="developers-item")
                    div(class="developers-letter") K
                    div(class="developers-company")
                        a(href="#", class="link link--showdow-black-blue developers-link") Кайлас
                        a(href="#", class="link link--showdow-black-blue developers-link") Кесов Петр Владимирович
                        a(href="#", class="link link--showdow-black-blue developers-link") Кловер Групп
                        a(href="#", class="link link--showdow-black-blue developers-link") КомСтрин
                        a(href="#", class="link link--showdow-black-blue developers-link") Корпорация
                        a(href="#", class="link link--showdow-black-blue developers-link") Косенков Михаил Александрович
                        a(href="#", class="link link--showdow-black-blue developers-link") Косов Олег Анатольевич ИП
                        a(href="#", class="link link--showdow-black-blue developers-link") Крокус
                        a(href="#", class="link link--showdow-black-blue developers-link") КСК
                        a(href="#", class="link link--showdow-black-blue developers-link") КУБАНЬ РАЗВИТИЕ
                        
                div(class="developers-item")
                    div(class="developers-letter") D
                    div(class="developers-company")
                        a(href="#", class="link link--showdow-black-blue developers-link") Development City
                        a(href="#", class="link link--showdow-black-blue developers-link") Development Group
                        
                div(class="developers-item")
                    div(class="developers-letter") Г
                    div(class="developers-company")
                        a(href="#", class="link link--showdow-black-blue developers-link") Галс-Девелопмент
                        a(href="#", class="link link--showdow-black-blue developers-link") ГлавРусСтрой-Инвест
                        a(href="#", class="link link--showdow-black-blue developers-link") Голоднюк Евгений Васильевич
                        a(href="#", class="link link--showdow-black-blue developers-link") ГРАС
                        
                div(class="developers-item")
                    div(class="developers-letter") П
                    div(class="developers-company")
                        a(href="#", class="link link--showdow-black-blue developers-link") Первый Строительный Трест
                        a(href="#", class="link link--showdow-black-blue developers-link") Престиж 2000+
                        a(href="#", class="link link--showdow-black-blue developers-link") Пузанов Андрей Петрович

                div(class="developers-item")
                    div(class="developers-letter") М
                    div(class="developers-company")
                        a(href="#", class="link link--showdow-black-blue developers-link") MAAGroup
                        a(href="#", class="link link--showdow-black-blue developers-link") MR Group

                div(class="developers-item")
                    div(class="developers-letter") И
                    div(class="developers-company")
                        a(href="#", class="link link--showdow-black-blue developers-link") Идиллия
                        a(href="#", class="link link--showdow-black-blue developers-link") Империал-Инвест
                        a(href="#", class="link link--showdow-black-blue developers-link") Инвест Сочи
                        a(href="#", class="link link--showdow-black-blue developers-link") ИНТЕРСТРОЙ
