extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="employees")
            div(class="page-text")
                div(class="page-title") Сотрудники
            div(class="employees-section") Руководство компании
            div(class="employees-list")
                div(class="employees-item")
                    div(class="employees-container")
                        img(src="../dummy/employees/1.png", class="employees-img")
                    div(class="employees-info")
                        div(class="employees-name") Мишин Сергей
                        div(class="employees-position") Генеральный директор
                        a(href="tell:+79384968699", class="link link-black link--orange employees-contact") +7 (938) 496-86-99
                        a(href="mail:dir@sunsochi.com", class="link link-black link--orange link-orange--bottom employees-contact") dir@sunsochi.com
                div(class="employees-item")
                    div(class="employees-container")
                        img(src="../dummy/employees/2.png", class="employees-img")
                    div(class="employees-info")
                        div(class="employees-name") Ребецкий Игорь
                        div(class="employees-position") Заместитель Генерального директора
                        a(href="tell:+79384968699", class="link link-black link--orange employees-contact") +7 (938) 496-86-99
                        a(href="mail:dir@sunsochi.com", class="link link-black link--orange link-orange--bottom employees-contact") dir@sunsochi.com
            div(class="employees-section") Ведущие специалисты
            div(class="employees-list")
                div(class="employees-item")
                    div(class="employees-container")
                        img(src="../dummy/employees/3.png", class="employees-img")
                    div(class="employees-info")
                        div(class="employees-name") Бачурин Артем
                        div(class="employees-position") Эксперт по недвижимости
                        a(href="tell:+79384968699", class="link link-black link--orange employees-contact") +7 (938) 496-86-99
                        a(href="mail:dir@sunsochi.com", class="link link-black link--orange link-orange--bottom employees-contact") dir@sunsochi.com
                div(class="employees-item")
                    div(class="employees-container")
                        img(src="../dummy/employees/4.png", class="employees-img")
                    div(class="employees-info")
                        div(class="employees-name") Толстов Дмитрий
                        div(class="employees-position") Эксперт по недвижимости
                        a(href="tell:+79384968699", class="link link-black link--orange employees-contact") +7 (938) 496-86-99
                        a(href="mail:dir@sunsochi.com", class="link link-black link--orange link-orange--bottom employees-contact") dir@sunsochi.com
                div(class="employees-item")
                    div(class="employees-container")
                        img(src="../dummy/employees/5.png", class="employees-img")
                    div(class="employees-info")
                        div(class="employees-name") Ребецкий Игорь
                        div(class="employees-position") Заместитель Генерального директора
                        a(href="tell:+79384968699", class="link link-black link--orange employees-contact") +7 (938) 496-86-99
                        a(href="mail:dir@sunsochi.com", class="link link-black link--orange link-orange--bottom employees-contact") dir@sunsochi.com
                div(class="employees-item")
                    div(class="employees-container")
                        img(src="../dummy/employees/6.png", class="employees-img")
                    div(class="employees-info")
                        div(class="employees-name") Ребецкий Игорь
                        div(class="employees-position") Заместитель Генерального директора
                        a(href="tell:+79384968699", class="link link-black link--orange employees-contact") +7 (938) 496-86-99
                        a(href="mail:dir@sunsochi.com", class="link link-black link--orange link-orange--bottom employees-contact") dir@sunsochi.com
                div(class="employees-item")
                    div(class="employees-container")
                        img(src="../dummy/employees/7.png", class="employees-img")
                    div(class="employees-info")
                        div(class="employees-name") Ребецкий Игорь
                        div(class="employees-position") Заместитель Генерального директора
                        a(href="tell:+79384968699", class="link link-black link--orange employees-contact") +7 (938) 496-86-99
                        a(href="mail:dir@sunsochi.com", class="link link-black link--orange link-orange--bottom employees-contact") dir@sunsochi.com
                div(class="employees-item")
                    div(class="employees-container")
                        img(src="../dummy/employees/3.png", class="employees-img")
                    div(class="employees-info")
                        div(class="employees-name") Ребецкий Игорь
                        div(class="employees-position") Заместитель Генерального директора
                        a(href="tell:+79384968699", class="link link-black link--orange employees-contact") +7 (938) 496-86-99
                        a(href="mail:dir@sunsochi.com", class="link link-black link--orange link-orange--bottom employees-contact") dir@sunsochi.com
                div(class="employees-item")
                    div(class="employees-container")
                        img(src="../dummy/employees/4.png", class="employees-img")
                    div(class="employees-info")
                        div(class="employees-name") Ребецкий Игорь
                        div(class="employees-position") Заместитель Генерального директора
                        a(href="tell:+79384968699", class="link link-black link--orange employees-contact") +7 (938) 496-86-99
                        a(href="mail:dir@sunsochi.com", class="link link-black link--orange link-orange--bottom employees-contact") dir@sunsochi.com
