extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(id="form-result", class="form-popup")
            div(class="order-call-icon")
                include ../../prod/svg/call.svg 
            div(class="page-text")
                h2 Ваша заявка принята
                h3 В ближайшее время с вами свяжется нам менеджер!    
