extends ../templates/base

block content
    div(class="apartment")
        div(class="page-inner page-inner--w1 apartment-stub")
            div(class="apartment-header-fixed", data-fixed-apartment)
                div(class="apartment-header")
                    div(class="apartment-header-col")
                        div(class="apartment-title") ЖК &#171;Лазурный берег 2&#187;
                        div(class="apartment-location")
                            a(href="#",class="link link-black link-black--bottom", target="_blank") Район Дагомыс
                            a(href="#", class="link link-orange link-orange--bottom apartment-location-map", data-goto="#mapYandex") На карте
                        div(class="apartment-deadline")
                            div(class="apartment-deadline-term") Срок сдачи: IV кв. 2018
                            div(class="apartment-deadline-finish") Готовность: 40%
                    div(class="apartment-header-col")
                        div(class="apartment-preview-text")
                            a(href="#", class="link apartment-preview-text-icon")
                                include ../../prod/svg/star_orage.svg
                            div(class="apartment-preview-text-info")
                                div(class="apartment-preview-text-price") от 10 250 000 000
                                div(class="apartment-preview-text-credit") 470 000 м
                                    sup 2
                                a(href="form-bid.html", class="link button button--orange-reverse apartment-preview-order mfp-modal", data-mfp-type="ajax", data-mfp-ajaxcontent="#form-call", data-mfp-bcg="#009ecc", data-mfp-closeinside="false") Оставить заявку

        div(class="page-inner page-inner--max")    
            div(class="apartment-preview")
                div(class="page-inner page-inner--w1")
                    div(class="apartment-preview-container")
                        div(class="apartment-slider apartment-slider--w100 for-preloader")
                            div(class="light-slider")
                                div(class="apartment-slider-item", data-thumb="../dummy/apartment/slide_1.jpg")
                                    img(src="../dummy/apartment/slide_1.jpg", alt="")
                                div(class="apartment-slider-item", data-thumb="../dummy/apartment/slide_2.jpg")
                                    img(src="../dummy/apartment/slide_2.jpg", alt="")
                                div(class="apartment-slider-item", data-thumb="../dummy/apartment/slide_3.jpg")
                                    img(src="../dummy/apartment/slide_3.jpg", alt="")
                                div(class="apartment-slider-item", data-thumb="../dummy/apartment/slide_4.jpg")
                                    img(src="../dummy/apartment/slide_4.jpg", alt="")
                                div(class="apartment-slider-item", data-thumb="../dummy/apartment/slide_5.jpg")
                                    img(src="../dummy/apartment/slide_5.jpg", alt="")
                                div(class="apartment-slider-item", data-thumb="../dummy/apartment/slide_6.jpg")
                                    img(src="../dummy/apartment/slide_6.jpg", alt="")
                                div(class="apartment-slider-item", data-thumb="../dummy/apartment/slide_7.jpg")
                                    img(src="../dummy/apartment/slide_7.jpg", alt="")
                                div(class="apartment-slider-item", data-thumb="../dummy/apartment/slide_8.jpg")
                                    img(src="../dummy/apartment/slide_8.jpg", alt="")
        
        div(class="apartment-information")
            div(class="page-text")       
                div(class="apartment-tabs border-text--bottom")
                    div(class="page-inner page-inner--w1")
                        div(class="filter-tabs")
                            div(class="filter-tab active", data-filter-tab="prop_1") Описание
                            div(class="filter-tab", data-filter-tab="prop_3") Квартиры
                            div(class="filter-tab", data-filter-tab="prop_4") На карте
                            div(class="filter-tab", data-filter-tab="prop_5") Видеобзор
                            
            div(class="filter-list")
                div(class="page-inner page-inner--w2 filter-item", data-filter-item="prop_1")
                    div(class="apartment-item")
                        div(class="apartment-progress", data-progress="40")
                            div(class="apartment-progress-text", data-progress-text="Готовность дома - $count%")
                            div(class="apartment-progress-bar")
                                div(class="apartment-progress-bar-fill", data-progress-fill) 
                            div(class="apartment-progress-list")
                                div(class="apartment-progress-item active") Проект
                                div(class="apartment-progress-item active") Котлован
                                div(class="apartment-progress-item active") Фундамент
                                div(class="apartment-progress-item active") Строительство
                                div(class="apartment-progress-item") Коммуникации
                                div(class="apartment-progress-item") Остекленение
                                div(class="apartment-progress-item") Фасад
                                div(class="apartment-progress-item") Ландшафт
                                div(class="apartment-progress-item") Заселен
                                        

                    div(class="apartment-item")
                        div(class="page-text")
                            div(class="apartment-description-item")
                                div(class="border-text border-text--bottom")
                                    p Квартира в элитном жилом комплексе, который расположен в историческом престижном районе с развитой инфраструктурой. В квартире тр спальни, три санузла, и просторная кухня-гостиная, а так же два балкона. Из окон открывается панорамный вид на море. ОТделка выполнена из дорогих материалов, напольное покрытие - паркетная доска. На кухне установлен дорогой итальянский гарнитур, фирменная встроенная бытовая техника. В гостиной находится биокамин - экологически чистый камин нового поколения. Установлена экскюзивная входная дверь с системой открытия с помощью пин-кода или отпечатка.
                            div(class="apartment-description-item")
                                div(class="apartment-features border-text border-text--bottom")
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/sea.svg
                                        div(class="apartment-features-item-text") Вид на море 
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/original.svg 
                                        div(class="apartment-features-item-text") Оригинальный проект
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/save.svg
                                        div(class="apartment-features-item-text") Охраняемая территория
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/see_mounts.svg
                                        div(class="apartment-features-item-text") Вид на горы
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/save.svg
                                        div(class="apartment-features-item-text") Охраняемая территория
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/video.svg
                                        div(class="apartment-features-item-text") Видеонаблюдение
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/original.svg
                                        div(class="apartment-features-item-text") Магазины рядом
                            
                            div(class="apartment-description-item")
                                div(class="apartment-detail-info border-text border-text--bottom")
                                    dl
                                        dt Срок сдачи
                                        dd IV кв. 2018
                                        dt Застройщик
                                        dd
                                            a(href="#", class="link link-black link-black--bottom") Стройуниверсал
                                        dt Всего квартир 
                                        dd 300
                                        dt Этажей
                                        dd 3
                                        dt Площадь квартир
                                        dd от 55 до 132.7 м
                                            sup 2
                                        dt Класс здания
                                        dd элитный
                                        dt Высота потолков 
                                        dd 3.3 м
                                        dt Отделка
                                        dd без ремонта
                                        dt Парковка
                                        dd придомовая и подземная
                                        dt Тип здания
                                        dd монолит
                                        dt Расстояние до моря
                                        dd 300 м
                                        dt Отделка
                                        dd без ремонта
                                        dt Ипотека 
                                        dd да
                                        dt Федеральный закон 214
                                        dd да
                                        dt Возможна расстрочка
                                        dd да
                                        dt Цель покупки
                                        dd для жизни, для отдыха
                                div(class="apartment-detail-info")
                                    dl(class="dark")
                                        dt(class="title") Инфраструктура рядом
                                        dd(class="title") На территории ЖК
                                        dt Благоустроенный пляж
                                        dd Ресторан
                                        dt Минимаркет
                                        dd Тренажерный зал
                                        dt Остановка
                                        dd Детская площадка
                                        dt Санаторий "Дагомыс"
                                        dd Теннисный корт
                                        dt 
                                        dd Придомовой паркинг
                                        dt 
                                        dd Детский сад
                                        dt 
                                        dd Свой пляж
                                        dt 
                                        dd Травсфер
                                        dt 
                                        dd Панорамное остекление
                                        dt 
                                        dd Ланшафтный дизайн
                                        dt 
                                        dd СПА-комплекс
                
                    div(class="apartment-description-item")
                        div(class="apartment-map")
                            div(class="map", id="mapYandex", data-center="[43.56945161528474,39.73675069213602]", data-zoom="19", data-points='[{name:"1", position: "43.56945161528474,39.73675069213602", description:"Сочи, район Светлана, 3-комп. квартира, 170 м"}]')

                div(class="page-inner page-inner--max filter-item", data-filter-item="prop_3")
                    div(class="apartment-result")
                        div(class="page-inner page-inner--w1")
                            div(class="apartment-result-container")
                                div(class="apartment-result-text") Всего квартир: 273
                                div(class="apartment-result-controls")
                                    button(type="button", class="button apartment-result-button apartment-result-button--list active", data-filter-tab="view_1")
                                        span(class="apartment-result-button-icon")
                                            include ../../prod/svg/list.svg
                                        span(class="apartment-result-button-text") списком
                                    button(type="button", class="button apartment-result-button apartment-result-button--grid", data-filter-tab="view_2")
                                        span(class="apartment-result-button-icon")
                                            include ../../prod/svg/list-grid.svg
                                        span(class="apartment-result-button-text") шахматка
                                        
                    div(class="page-inner page-inner--w1")                                      
                        div(class="apartment-list filter-item", data-filter-item="view_1")
                            div(class="apartment-types-list")
                                //div(class="apartment-type")
                                //    div(class="apartment-type-badge", data-badge="1", style="background:#9b9b9b")
                                //    div(class="apartment-type-text") Продано:
                                //    div(class="apartment-type-count") 136
                                div(class="apartment-type")
                                    div(class="apartment-type-badge", data-badge="2", style="background:#ffe200")
                                    div(class="apartment-type-text") Забронировано:
                                    div(class="apartment-type-count") 30
                                div(class="apartment-type")
                                    div(class="apartment-type-badge", data-badge="3", style="background:#41aa33")
                                    div(class="apartment-type-text") В продаже:
                                    div(class="apartment-type-count") 78
                                div(class="apartment-type")
                                    div(class="apartment-type-badge", data-badge="4", style="background:#f99d22")
                                    div(class="apartment-type-text") Акция:
                                    div(class="apartment-type-count") 5
                            div(class="page-text")
                                div(class="apartment-table")
                                    table(class="sort-table")
                                        thead
                                            tr
                                                th
                                                th Площадь
                                                th Этаж
                                                th Цена
                                                th Цена м
                                                    sup 2
                                                th Отделка
                                                th Статус
                                        tbody
                                            tr(class="tooltip-item", data-apartment-info='{"apartment": "3-х ком. квартира", "linkobject": "#101", "id": 51515, "image": "../dummy/apartment-icon/1.png", "imagesheme": "../dummy/apartment-icon/2.png"}')
                                                td  3-х ком. квартира
                                                td 112 м
                                                    sup 2
                                                td 3
                                                td 16 800 000 
                                                    span(class="rub") i
                                                td 149 800 
                                                    span(class="rub") i/м
                                                    sup 2
                                                td без отделки
                                                td orange
                                                    div(class="apartment-type-badge apartment-type-badge--orange")
                                            tr(class="tooltip-item", data-apartment-info='{"apartment": "3-х ком. квартира", "id": 1515, "image": "../dummy/apartment-icon/1.png"}')
                                                td 3-х ком. квартира
                                                td 123 м
                                                    sup 2
                                                td 3
                                                td 16 800 000
                                                    span(class="rub") i
                                                td 150 000 
                                                    span(class="rub") i/м
                                                    sup 2
                                                td под чистовую
                                                td green
                                                    div(class="apartment-type-badge apartment-type-badge--green")
                                            tr(class="tooltip-item", data-apartment-info='{"apartment": "2-х ком. квартира", "id": 11111, "image": "../dummy/apartment-icon/1.png"}')
                                                td  2-х ком. квартира
                                                td 78 м
                                                    sup 2
                                                td 2
                                                td 9 000 000 
                                                    span(class="rub") i
                                                td 150 000 
                                                    span(class="rub") i/м
                                                    sup 2
                                                td без отделки
                                                td yellow
                                                    div(class="apartment-type-badge apartment-type-badge--yellow")
                                            tr(class="tooltip-item", data-apartment-info='{"apartment": "1-х ком. квартира", "id": 9849498, "image": "../dummy/apartment-icon/1.png"}')
                                                td  1-х ком. квартира
                                                td 45 м
                                                    sup 2
                                                td 2
                                                td 7 000 000
                                                    span(class="rub") i
                                                td 150 000 
                                                    span(class="rub") i/м
                                                    sup 2
                                                td без отделки
                                                td gray
                                                    div(class="apartment-type-badge apartment-type-badge--gray")
                                            tr(class="tooltip-item", data-apartment-info='{"apartment": "4-х ком. квартира", "id": 84919345, "image": "../dummy/apartment-icon/1.png"}')
                                                td  4-х ком. квартира
                                                td 45 м
                                                    sup 2
                                                td 2
                                                td 7 000 000 
                                                    span(class="rub") i
                                                td 150 000
                                                    span(class="rub") i/м
                                                    sup 2
                                                td без отделки
                                                td green
                                                    div(class="apartment-type-badge apartment-type-badge--green")
                                            tr(class="tooltip-item")
                                                td 3-х ком. квартира
                                                td 45 м
                                                    sup 2
                                                td 2
                                                td 7 000 000
                                                    span(class="rub") i
                                                td 150 000     
                                                    span(class="rub") i/м
                                                    sup 2
                                                td без отделки
                                                td gray
                                                    div(class="apartment-type-badge apartment-type-badge--gray")
                                            tr(class="tooltip-item")
                                                td 1-х ком. квартира
                                                td 45 м
                                                    sup 2
                                                td 2
                                                td 7 000 000 
                                                    span(class="rub") i
                                                td 150 000 
                                                    span(class="rub") i/м
                                                    sup 2
                                                td без отделки
                                                td yellow
                                                    div(class="apartment-type-badge apartment-type-badge--yellow")
                                            tr(class="tooltip-item")
                                                td 2-х ком. квартира
                                                td 45 м
                                                    sup 2
                                                td 2
                                                td 7 000 000 
                                                    span(class="rub") i
                                                td 150 000 
                                                    span(class="rub") i/м
                                                    sup 2
                                                td без отделки
                                                td yellow
                                                    div(class="apartment-type-badge apartment-type-badge--yellow")
                                            tr(class="tooltip-item")
                                                td  4-х ком. квартира
                                                td 45 м
                                                    sup 2
                                                td 2
                                                td 7 000 000 
                                                    span(class="rub") i
                                                td 150 000 
                                                    span(class="rub") i/м
                                                    sup 2
                                                td без отделки
                                                td yellow
                                                    div(class="apartment-type-badge apartment-type-badge--yellow")
                                            tr(class="tooltip-item")
                                                td 5-х ком. квартира
                                                td 45 м
                                                    sup 2
                                                td 2
                                                td 7 000 000
                                                    span(class="rub") i
                                                td 150 000 
                                                    span(class="rub") i/м
                                                    sup 2
                                                td без отделки
                                                td yellow
                                                    div(class="apartment-type-badge apartment-type-badge--yellow")
                                            tr(class="tooltip-item")
                                                td 5-х ком. квартира
                                                td 45 м
                                                    sup 2
                                                td 2
                                                td 7 000 000 
                                                    span(class="rub") i
                                                td 150 000     
                                                    span(class="rub") i/м
                                                    sup 2
                                                td без отделки
                                                td yellow
                                                    div(class="apartment-type-badge apartment-type-badge--yellow")
                                            tr(class="tooltip-item")
                                                td 5-х ком. квартира
                                                td 45 м
                                                    sup 2
                                                td 2
                                                td 7 000 000 
                                                    span(class="rub") i
                                                td 150 000 
                                                    span(class="rub") i/м
                                                    sup 2
                                                td без отделки
                                                td yellow
                                                    div(class="apartment-type-badge apartment-type-badge--yellow")                        
                                        
                        div(class="apartment-list filter-item", data-filter-item="view_2")
                            div(class="apartment-types-list")
                                div(class="apartment-type")
                                    div(class="apartment-type-badge", data-badge="1", style="background:#41aa33")
                                    div(class="apartment-type-text") Продано:
                                    div(class="apartment-type-count") 136
                                div(class="apartment-type")
                                    div(class="apartment-type-badge", data-badge="2", style="background:#ffe200")
                                    div(class="apartment-type-text") Забронировано:
                                    div(class="apartment-type-count") 30
                            div(class="apartment-types-list")
                                div(class="apartment-type")
                                    div(class="apartment-type-text") В продаже:
                                    div(class="apartment-type-count") 78
                                div(class="apartment-type")
                                    div(class="apartment-type-badge", data-badge="3", style="background:#41aa33")
                                    div(class="apartment-type-text") Без отделки
                                div(class="apartment-type")
                                    div(class="apartment-type-badge", data-badge="4", style="background:#498FE1")
                                    div(class="apartment-type-text") Предчистовая отделка
                                div(class="apartment-type")
                                    div(class="apartment-type-badge", data-badge="3", style="background:#E147D9")
                                    div(class="apartment-type-text") С ремонтом
                                div(class="apartment-type")
                                    div(class="apartment-type-badge", data-badge="4", style="background:#f99d22")
                                    div(class="apartment-type-text") Акция
                            div(class="page-text")
                                div(class="apartment-structure")
                                    div(class="apartment-structure-item")
                                        div(class="apartment-structure-name") Блок Г2
                                        div(class="apartment-structure-grid", data-structure='{"size":{"row":4, "col": 3}, "floorslink": [123, 111, 222], "objects": [ {"position": ["4,0", "4,1", "4,2"], "text": "4+", "color": "#ffe200", "info": {"apartment": "3-х ком. квартира", "price": "17 300 000", "oldprice": "22 300 000", "id": 231231, "image": "../dummy/apartment-icon/1.png", "imagesheme": "../dummy/apartment-icon/2.png"} }, {"position": ["1,0", "2,0"], "text": "2", "color": "#498FE1"},{"position": ["1,1"], "text": "1", "color": "#41aa33"},{"position": ["1,2"], "text": "3","color": "#41aa33"},{"position": ["2,1"], "text": "1", "color": "#41aa33"},{"position": ["2,2"], "text": "C", "color": "#41aa33"},{"position": ["3,0","3,1","3,2"], "text": "10", "color": "#41aa33"}]}')
                                            div(class="apartment-structure-floor") Этажи
                                            div(class="apartment-structure-grid-container")       
                                                div(class="apartment-structure-grid-container-floors")                                  
                                                div(class="apartment-structure-grid-container-list")                                    
                                    div(class="apartment-structure-item")
                                        div(class="apartment-structure-name") Блок C2
                                        div(class="apartment-structure-grid", data-structure='{"size":{"row":3, "col": 3}, "floorslink": [123, 1311, 2252], "objects": [{"position": ["3,0", "2,0", "1,0"], "text": "1+", "color": "#498FE1", "info": {"apartment": "3-х ком. квартира", "price": "17 300 000", "oldprice": "22 300 000", "id": 231231, "image": "../dummy/apartment-icon/1.png", "imagesheme": "../dummy/apartment-icon/2.png"} }, {"position": ["3,1", "2,1", "1,1"], "text": "C", "color": "#41aa33", "info": {"apartment": "3-х ком. квартира", "price": "7 300 000", "oldprice": "2 300 000", "id": 5205, "image": "../dummy/apartment-icon/1.png", "imagesheme": "../dummy/apartment-icon/2.png"}}, {"position": ["3,2", "2,2", "1,2"], "text": "2", "color": "#41aa33"}]}')
                                            div(class="apartment-structure-floor") Этажи
                                            div(class="apartment-structure-grid-container")           
                                                div(class="apartment-structure-grid-container-floors")                              
                                                div(class="apartment-structure-grid-container-list")                                    
                                    div(class="apartment-structure-item")
                                        div(class="apartment-structure-name") Блок D2
                                        div(class="apartment-structure-grid", data-structure='{"size":{"row":4, "col": 3}, "floorslink": [123, 111, 222], "objects": [ {"position": ["4,0", "4,1", "4,2"], "text": "4+", "color": "#ffe200", "info": {"apartment": "3-х ком. квартира", "price": "17 300 000", "oldprice": "22 300 000", "id": 231231, "image": "../dummy/apartment-icon/1.png", "imagesheme": "../dummy/apartment-icon/2.png"} }, {"position": ["1,0", "2,0"], "text": "2", "color": "#498FE1"},{"position": ["1,1"], "text": "1", "color": "#41aa33"},{"position": ["1,2"], "text": "3","color": "#41aa33"},{"position": ["2,1"], "text": "1", "color": "#41aa33"},{"position": ["2,2"], "text": "C", "color": "#41aa33"},{"position": ["3,0","3,1","3,2"], "text": "10", "color": "#41aa33"}]}')
                                            div(class="apartment-structure-floor") Этажи
                                            div(class="apartment-structure-grid-container")                                        
                                                div(class="apartment-structure-grid-container-floors")                                        
                                                div(class="apartment-structure-grid-container-list")                                        
                
                div(class="page-inner page-inner--w2 filter-item", data-filter-item="prop_4")    
                    div(class="apartment-item")
                        div(class="page-text")
                            div(class="apartment-description-item")
                                div(class="border-text border-text--bottom")
                                    p Квартира в элитном жилом комплексе, который расположен в историческом престижном районе с развитой инфраструктурой. В квартире тр спальни, три санузла, и просторная кухня-гостиная, а так же два балкона. Из окон открывается панорамный вид на море. ОТделка выполнена из дорогих материалов, напольное покрытие - паркетная доска. На кухне установлен дорогой итальянский гарнитур, фирменная встроенная бытовая техника. В гостиной находится биокамин - экологически чистый камин нового поколения. Установлена экскюзивная входная дверь с системой открытия с помощью пин-кода или отпечатка.
                            div(class="apartment-description-item")
                                div(class="apartment-features border-text border-text--bottom")
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/sea.svg
                                        div(class="apartment-features-item-text") Вид на море 
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/original.svg 
                                        div(class="apartment-features-item-text") Оригинальный проект
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/save.svg
                                        div(class="apartment-features-item-text") Охраняемая территория
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/see_mounts.svg
                                        div(class="apartment-features-item-text") Вид на горы
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/save.svg
                                        div(class="apartment-features-item-text") Охраняемая территория
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/video.svg
                                        div(class="apartment-features-item-text") Видеонаблюдение
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/original.svg
                                        div(class="apartment-features-item-text") Магазины рядом
                            
                            div(class="apartment-description-item")
                                div(class="apartment-detail-info border-text border-text--bottom")
                                    dl
                                        dt Срок сдачи
                                        dd IV кв. 2018
                                        dt Застройщик
                                        dd
                                            a(href="#", class="link link-black link-black--bottom") Стройуниверсал
                                        dt Всего квартир 
                                        dd 300
                                        dt Этажей
                                        dd 3
                                        dt Площадь квартир
                                        dd от 55 до 132.7 м
                                            sup 2
                                        dt Класс здания
                                        dd элитный
                                        dt Высота потолков 
                                        dd 3.3 м
                                        dt Отделка
                                        dd без ремонта
                                        dt Парковка
                                        dd придомовая и подземная
                                        dt Тип здания
                                        dd монолит
                                        dt Расстояние до моря
                                        dd 300 м
                                        dt Отделка
                                        dd без ремонта
                                        dt Ипотека 
                                        dd да
                                        dt Федеральный закон 214
                                        dd да
                                        dt Возможна расстрочка
                                        dd да
                                        dt Цель покупки
                                        dd для жизни, для отдыха
                                div(class="apartment-detail-info")
                                    dl(class="dark")
                                        dt(class="title") Инфраструктура рядом
                                        dd(class="title") На территории ЖК
                                        dt Благоустроенный пляж
                                        dd Ресторан
                                        dt Минимаркет
                                        dd Тренажерный зал
                                        dt Остановка
                                        dd Детская площадка
                                        dt Санаторий "Дагомыс"
                                        dd Теннисный корт
                                        dt 
                                        dd Придомовой паркинг
                                        dt 
                                        dd Детский сад
                                        dt 
                                        dd Свой пляж
                                        dt 
                                        dd Травсфер
                                        dt 
                                        dd Панорамное остекление
                                        dt 
                                        dd Ланшафтный дизайн
                                        dt 
                                        dd СПА-комплекс
                            

                div(class="page-inner page-inner--w2 filter-item", data-filter-item="prop_5")
                    div(class="apartment-item")
                        div(class="page-text")
                            div(class="apartment-description-item")
                                div(class="border-text border-text--bottom")
                                    p Квартира в элитном жилом комплексе, который расположен в историческом престижном районе с развитой инфраструктурой. В квартире тр спальни, три санузла, и просторная кухня-гостиная, а так же два балкона. Из окон открывается панорамный вид на море. ОТделка выполнена из дорогих материалов, напольное покрытие - паркетная доска. На кухне установлен дорогой итальянский гарнитур, фирменная встроенная бытовая техника. В гостиной находится биокамин - экологически чистый камин нового поколения. Установлена экскюзивная входная дверь с системой открытия с помощью пин-кода или отпечатка.
                            div(class="apartment-description-item")
                                div(class="apartment-features border-text border-text--bottom")
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/sea.svg
                                        div(class="apartment-features-item-text") Вид на море 
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/original.svg 
                                        div(class="apartment-features-item-text") Оригинальный проект
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/save.svg
                                        div(class="apartment-features-item-text") Охраняемая территория
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/see_mounts.svg
                                        div(class="apartment-features-item-text") Вид на горы
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/save.svg
                                        div(class="apartment-features-item-text") Охраняемая территория
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/video.svg
                                        div(class="apartment-features-item-text") Видеонаблюдение
                                    div(class="apartment-features-item")
                                        div(class="apartment-features-item-icon")
                                            include ../../prod/svg/original.svg
                                        div(class="apartment-features-item-text") Магазины рядом
                            
                            div(class="apartment-description-item")
                                div(class="apartment-detail-info border-text border-text--bottom")
                                    dl
                                        dt Срок сдачи
                                        dd IV кв. 2018
                                        dt Застройщик
                                        dd
                                            a(href="#", class="link link-black link-black--bottom") Стройуниверсал
                                        dt Всего квартир 
                                        dd 300
                                        dt Этажей
                                        dd 3
                                        dt Площадь квартир
                                        dd от 55 до 132.7 м
                                            sup 2
                                        dt Класс здания
                                        dd элитный
                                        dt Высота потолков 
                                        dd 3.3 м
                                        dt Отделка
                                        dd без ремонта
                                        dt Парковка
                                        dd придомовая и подземная
                                        dt Тип здания
                                        dd монолит
                                        dt Расстояние до моря
                                        dd 300 м
                                        dt Отделка
                                        dd без ремонта
                                        dt Ипотека 
                                        dd да
                                        dt Федеральный закон 214
                                        dd да
                                        dt Возможна расстрочка
                                        dd да
                                        dt Цель покупки
                                        dd для жизни, для отдыха
                                div(class="apartment-detail-info")
                                    dl(class="dark")
                                        dt(class="title") Инфраструктура рядом
                                        dd(class="title") На территории ЖК
                                        dt Благоустроенный пляж
                                        dd Ресторан
                                        dt Минимаркет
                                        dd Тренажерный зал
                                        dt Остановка
                                        dd Детская площадка
                                        dt Санаторий "Дагомыс"
                                        dd Теннисный корт
                                        dt 
                                        dd Придомовой паркинг
                                        dt 
                                        dd Детский сад
                                        dt 
                                        dd Свой пляж
                                        dt 
                                        dd Травсфер
                                        dt 
                                        dd Панорамное остекление
                                        dt 
                                        dd Ланшафтный дизайн
                                        dt 
                                        dd СПА-комплекс
        
        div(class="page-inner page-inner--max", style="background:#f7f8fb")
            div(class="page-inner page-inner--w1")
                div(class="page-text")
                    h2 Похожие объекты

                    div(class="offers-list")
                        div(class="offers-item")
                            div(class="offers-container-favorites")
                                button(type="button", class="link offers-container-favorites-icon") 
                                    include ../../prod/svg/star_orage.svg
                                button(type="button", class="link link-orange link-orange--bottom offers-container-favorites-text") Добавить в избранное
    
                            div(class="offers-container")
                                img(src="../dummy/home_1.jpg", alt  class="offers-container-img")
                                div(class="offers-container-price") 1 167 920 
                                    span(class="rub") i
                            div(class="offers-information")
                                div(class="page-text")
                                    div(class="offers-name") ЖК Семейный
                                    div(class="offers-district") Лазаревский район
                                    div(class="offers-floor") Этаж:
                                        span(class="active") 3
                                        / 10                
                            a(href="#", class="link button button--orange offers-container-more") Подробнее
                    
                        div(class="offers-item")
                            div(class="offers-container-favorites")
                                button(type="button", class="link offers-container-favorites-icon") 
                                    include ../../prod/svg/star_orage.svg
                                button(type="button", class="link link-orange link-orange--bottom offers-container-favorites-text") Добавить в избранное
    
                            div(class="offers-container")
                                img(src="../dummy/home_2.jpg", alt  class="offers-container-img")
                                div(class="offers-container-price") 2 200 900 
                                    span(class="rub") i
                            div(class="offers-information")
                                div(class="page-text")
                                    div(class="offers-name") ЖК Эко Хаус 2
                                    div(class="offers-district") Район Хоста
                                    div(class="offers-floor") Этаж:
                                        span(class="active") 1
                                        / 10
                                            
                            a(href="#", class="link button button--orange offers-container-more") Подробнее
                    
                        div(class="offers-item")
                            div(class="offers-container-favorites")
                                button(type="button", class="link offers-container-favorites-icon") 
                                    include ../../prod/svg/star_orage.svg
                                button(type="button", class="link link-orange link-orange--bottom offers-container-favorites-text") Добавить в избранное
    
                            div(class="offers-container")
                                img(src="../dummy/home_3.jpg", alt  class="offers-container-img")
                                div(class="offers-container-price") 2 330 000
                                    span(class="rub") i
                            div(class="offers-information")
                                div(class="page-text")
                                    div(class="offers-name") ЖК Лесная поляна 
                                        br 
                                        | (2-я очередь)
                                    div(class="offers-district") Район Дагомыс
                                    div(class="offers-floor") Этаж:
                                        span(class="active") 7
                                        / 11
                                            
                            a(href="#", class="link button button--orange offers-container-more") Подробнее
    
        div(class="page-inner page-inner--max", style="background:#009ecc")
            div(class="page-inner page-inner--w1")
                div(class="order-call")
                    div(class="page-text")
                        h2 Закажите профессиональный подбор сейчас
                    form(class="form form-order-call")
                        div(class="form-row form-row--100")
                            input(type="text", id="name", name="name", class="form-item form-item--text", required, data-error="Ваше имя", aria-required="true", placeholder="Ваше имя")
                        div(class="form-row form-row--100")
                            input(type="text", id="mobile", name="mobile", class="form-item form-item--text", required, data-error="Укажите телефон", aria-required="true", data-pattern="mobileRU", data-number="+7 (000) 000-00-00", placeholder="Контактный телефон")
                        div(class="form-row form-row--100")
                            div(class="order-call-privacy") Нажимая на кнопку "Отправить заявку", вы даете
                                a(href="#", class="link link-white link--opacity") &ensp;согласие на обработку своих персональных данных
                        div(class="form-row form-row--100")
                            button(type="submit", class="button button--orange-flood send-order") Отправить заявку
                    div(class="order-call-hotline")
                        span(class="order-call-hotline-text") Бесплатная горячая линия
                        a(href="tel:+78007075523", class="link link-white link--opacity order-call-hotline-mobile") 8-800-707-55-23
                        span(class="order-call-hotline-text") операторы доступны
                        span(class="order-call-hotline-text") с 8:00 до 22:00 МСК
                    div(class="order-call-icon")
                        include ../../prod/svg/call.svg
