extends ../templates/base

block content
    div(class="page-inner page-inner--w4")
        div(class="news-detail")
            div(class="page-text")
                div(class="new-detail-info", id="news-detail-load")
                    h1 Новый закон регулирования сделок с долями в недвижимости станет более надежным благодаря нотариусу                        
                
                    div(class="news-detail-date") 28 июля 2017
                    
                    div(class="news-detail-subtitle") Сделка через нотариуса
                    p 2 июня 2016 года Глава Российской Федерации Владимир Путин поставил свою подпись под Федеральным законом №172-ФЗ, которой вводит неотъемлемое нотариальное свидетельство абсолютно всех сделок по отчуждению долей недвижимого имущества.
                    p Федеральный закон №172-ФЗ продолжает развивать начатую Федеральным законом №391-ФЗ стратегию борьбы с мошенничеством, в том числе с так называемым «квартирным рейдерством» при поддержке нотариата. Новеллы закона теперь более серьезно защитят права граждан не достигших совершеннолетия.
                    p Принятым в конце 2015 года Федеральным законом №391-ФЗ вводилась строгая нотариальная форма для продажи доли недвижимого имущества посторонним лицам. Тем самым нотариус обязан удостовериться в том, что остальные сособственники были извещены надлежащим образом о намерении продать долю в их имуществе, и могли воспользоваться преимущественным правом покупки. Тем самым схема продажи микродоли рейдерам за "копейки" уничтожена.
                    div(class="news-detail-subtitle") Меньше лазеек для мошенников
                    p Также оставались пути обхода обязательной нотариальной формы для различных мошеннических схем и недобросовестных граждан. Эту проблему довольно активно обсуждали в прессе и социальных сетях. Мошенники могли использовать следующую схему: доля либо дарилась постороннему лицу, которое потом уже принималось выживать остальных собственников, либо постороннему лицу дарилась микродоля от существующей доли в недвижимом имуществе. Лицо, соответственно, переставало быть «посторонним», а после этого оставшаяся часть этой доли уже продавалась ему, законным образом минуя нотариуса. То есть риски для остальных собственников сохранялись.
                    p Отныне подобные лазейки для аферистов ушли в прошлое - согласно новому закону, все сделки по отчуждению долей в недвижимом имуществе подлежат нотариальному удостоверению. Нотариус, в свою очередь, удостоверяя сделку, обязан убедиться в том, что сособственники недвижимым имущества надлежащим образом извещены о возможности преимущественного права покупки.
                    div(class="news-detail-subtitle") Меньше лазеек для мошенников
                    p Особенно стоит отметить, что при удостоверении, например, договора дарения доли, нотариус также должен будет проверить, не является ли данная сделка притворной, то есть сделкой, которая совершается с целью прикрыть другую сделку. Например, не прикрывает ли дарение сделку купли-продажи. И если нотариус отказывает в удостоверении такой сделки, то суд, если туда обратятся граждане, будет рассматривать дело по существу. И уже суд может увидеть, например, что в данной квартире проживает семья с несовершеннолетними, и есть все основания опасаться, что предполагаемая сделка может привести к ухудшению условий их жизни, то есть — признать сделку притворной и подтвердить правомерность отказа нотариуса. Как показывает практика, мошенники предпочитают не связываться с судебными разбирательствами, то есть количество вопиющих случаев квартирного рейдерства благодаря нотариальному удостоверению должно пойти на убыль.
                    p Важно, что в процессе удостоверения сделки нотариус также разъясняет сторонам реальные последствия сделки, в частности, что такая сделка может быть признана впоследствии судом недействительной, т.к. нарушает права иных сособственников, либо обратить внимание одной из сторон на то, что предлагаемые условия сделки нарушают ее права или ухудшают ее положение.
                    p Обычно отсутствие такой информации и непонимание реальных последствий сделки является одним из методов действий мошенников на рынке недвижимости при использовании договора в простой письменной форме. Слабо образованные в правовой сфере, социально незащищенные граждане часто не имеют возможности осознать неблагоприятные для них последствия сделок, которые они совершают по уговорам мошенников.
                
                div(class="news-detail-more load")
                    a(href="news-detail-load.html?PAGE=test", data-container="#news-detail-load", data-itemsselector="#news-detail-text", class="link button button--blue load-more") Показать еще
