extends ../templates/base

block content
    div(class="page-inner page-inner--w4")
        div(class="news-detail")
            div(class="page-text")
                div(class="new-detail-info", id="news-detail-text")            
                    div(class="news-detail-subtitle") Меньше лазеек для мошенников
                    p Особенно стоит отметить, что при удостоверении, например, договора дарения доли, нотариус также должен будет проверить, не является ли данная сделка притворной, то есть сделкой, которая совершается с целью прикрыть другую сделку. Например, не прикрывает ли дарение сделку купли-продажи. И если нотариус отказывает в удостоверении такой сделки, то суд, если туда обратятся граждане, будет рассматривать дело по существу. И уже суд может увидеть, например, что в данной квартире проживает семья с несовершеннолетними, и есть все основания опасаться, что предполагаемая сделка может привести к ухудшению условий их жизни, то есть — признать сделку притворной и подтвердить правомерность отказа нотариуса. Как показывает практика, мошенники предпочитают не связываться с судебными разбирательствами, то есть количество вопиющих случаев квартирного рейдерства благодаря нотариальному удостоверению должно пойти на убыль.
                    p Важно, что в процессе удостоверения сделки нотариус также разъясняет сторонам реальные последствия сделки, в частности, что такая сделка может быть признана впоследствии судом недействительной, т.к. нарушает права иных сособственников, либо обратить внимание одной из сторон на то, что предлагаемые условия сделки нарушают ее права или ухудшают ее положение.
                    p Обычно отсутствие такой информации и непонимание реальных последствий сделки является одним из методов действий мошенников на рынке недвижимости при использовании договора в простой письменной форме. Слабо образованные в правовой сфере, социально незащищенные граждане часто не имеют возможности осознать неблагоприятные для них последствия сделок, которые они совершают по уговорам мошенников.
            
                div(class="news-detail-more load")
                    a(href="news-detail-load.html?PAGE=test", data-container="#news-detail-load", data-itemsselector="#news-detail-text", class="link button button--blue load-more") Показать еще
