extends ../templates/base

block content
    div(class="offers-list")
        div(class="offers-item")
            div(class="offers-container-favorites")
                button(type="button", class="link offers-container-favorites-icon") 
                    include ../../prod/svg/star_orage.svg
                button(type="button", class="link link-orange link-orange--bottom offers-container-favorites-text") Добавить в избранное

            div(class="offers-container")
                div(class="offers-container-mark") Акция
                img(src="../dummy/home_1.jpg", alt  class="offers-container-img")
                div(class="offers-container-price") 1 167 920 &#8381;
            div(class="offers-information")
                div(class="page-text")
                    div(class="offers-name") ЖК Семейный
                    div(class="offers-district") Лазаревский район
                    span(class="offers-time") II кв. 2020
                    dl
                        dt 
                            span Студия
                        dd
                            span от 1 167 920 &#8381;
                        dt
                            span 1 комн.
                        dd
                            span от 1 910 920 &#8381;
                        dt
                            span 2 комн.
                        dd
                            span от 1 910 920 &#8381;
            
            a(href="#", class="link button button--orange offers-container-more") Подробнее

        div(class="offers-item")
            div(class="offers-container-favorites")
                button(type="button", class="link offers-container-favorites-icon") 
                    include ../../prod/svg/star_orage.svg
                button(type="button", class="link link-orange link-orange--bottom offers-container-favorites-text") Добавить в избранное

            div(class="offers-container")
                img(src="../dummy/home_2.jpg", alt  class="offers-container-img")
                div(class="offers-container-price") 2 200 900 &#8381;
            div(class="offers-information")
                div(class="page-text")
                    div(class="offers-name") ЖК Эко Хаус 2
                    div(class="offers-district") Район Хоста
                    span(class="offers-time") IV кв. 2018
                    dl
                        dt 
                            span Студия
                        dd
                            span от 1 167 920 &#8381;
                        dt
                            span 1 комн.
                        dd
                            span от 1 910 920 &#8381;
                        dt
                            span 2 комн.
                        dd
                            span от 1 910 920 &#8381;
                            
            a(href="#", class="link button button--orange offers-container-more") Подробнее
            
        div(class="offers-item")
            div(class="offers-container-favorites")
                button(type="button", class="link offers-container-favorites-icon") 
                    include ../../prod/svg/star_orage.svg
                button(type="button", class="link link-orange link-orange--bottom offers-container-favorites-text") Добавить в избранное

            div(class="offers-container")
                div(class="offers-container-mark") Лучшиее инвестиции
                img(src="../dummy/home_3.jpg", alt  class="offers-container-img")
                div(class="offers-container-price") 2 330 000 &#8381;
            div(class="offers-information")
                div(class="page-text")
                    div(class="offers-name") ЖК Лесная поляна 
                        br 
                        | (2-я очередь)
                    div(class="offers-district") Район Дагомыс
                    span(class="offers-time") СДАН
                    dl
                        dt 
                            span Студия
                        dd
                            span от 1 167 920 &#8381;
                        dt
                            span 1 комн.
                        dd
                            span от 1 910 920 &#8381;
                        dt
                            span 2 комн.
                        dd
                            span от 1 910 920 &#8381;
                            
            a(href="#", class="link button button--orange offers-container-more") Подробнее
    
    div(class="offers-more load")
        a(href="offers-load.html?PAGE=test", data-container="#offers-list-load", data-itemsselector=".offers-item", class="link button button--blue load-more") Показать еще
