extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="partners")
            div(class="page-text")
                h1 Застройщики
            
            div(class="partners-list")
                div(class="partners-item")
                    div(class="partners-holder")
                        img(src="../dummy/partners/1.png", class="partners-img")
                    div(class="partners-title") Сбербанк
                    div(class="partners-text") ПАО "Сбербанк" является крупнейшим российским универсальным коммерческим банком. Благодаря нашей партнерской программе, мы поможем Вам быстро открыть ипотеку на лучших условиях и по самой выгодной процентной ставке.
                
                div(class="partners-item")
                    div(class="partners-holder")
                        img(src="../dummy/partners/2.png", class="partners-img")
                    div(class="partners-title") Сбербанк
                    div(class="partners-text") ПАО "Сбербанк" является крупнейшим российским универсальным коммерческим банком. Благодаря нашей партнерской программе, мы поможем Вам быстро открыть ипотеку на лучших условиях и по самой выгодной процентной ставке.
                
                div(class="partners-item")
                    div(class="partners-holder")
                        img(src="../dummy/partners/3.png", class="partners-img")
                    div(class="partners-title") Сбербанк
                    div(class="partners-text") ПАО "Сбербанк" является крупнейшим российским универсальным коммерческим банком. Благодаря нашей партнерской программе, мы поможем Вам быстро открыть ипотеку на лучших условиях и по самой выгодной процентной ставке.
                
                div(class="partners-item")
                    div(class="partners-holder")
                        img(src="../dummy/partners/4.png", class="partners-img")
                    div(class="partners-title") Сбербанк
                    div(class="partners-text") ПАО "Сбербанк" является крупнейшим российским универсальным коммерческим банком. Благодаря нашей партнерской программе, мы поможем Вам быстро открыть ипотеку на лучших условиях и по самой выгодной процентной ставке.
                
                div(class="partners-item")
                    div(class="partners-holder")
                        img(src="../dummy/partners/5.png", class="partners-img")
                    div(class="partners-title") Сбербанк
                    div(class="partners-text") ПАО "Сбербанк" является крупнейшим российским универсальным коммерческим банком. Благодаря нашей партнерской программе, мы поможем Вам быстро открыть ипотеку на лучших условиях и по самой выгодной процентной ставке.
                
                div(class="partners-item")
                    div(class="partners-holder")
                        img(src="../dummy/partners/6.png", class="partners-img")
                    div(class="partners-title") Сбербанк
                    div(class="partners-text") ПАО "Сбербанк" является крупнейшим российским универсальным коммерческим банком. Благодаря нашей партнерской программе, мы поможем Вам быстро открыть ипотеку на лучших условиях и по самой выгодной процентной ставке.
