extends ../templates/base

block content
    div(class="page-inner page-inner--w1")
        div(class="vacancies")
            div(class="page-text")
                div(class="page-title") Вакансии
                div(class="page-subtitle") Нам всегда нужны ответственные работники в сфере недвижимости. 
            div(class="vacancies-container")
                div(class="vacancies-list")
                    div(class="vacancies-item")
                        div(class="vacancies-item-title") Эксперт по недвижимости
                        div(class="vacancies-item-subtitle") Должностные обязанности:
                        div(class="page-text")
                            ul
                                li Работа с впервые обратившимся клиентами.
                                li Презентация риторский услуги.
                                li Деловые переговоры с собственнками, покупателями недвижимости и контрагентами.
                                li Заключение договоров на оказание риелторских услуг
                                li Подбор и презентация объектов недвижимости.
                                li Сопровождение сделок покупки-продажи.
                                li Поддержание и расширение клиентской базы.
                                li Активный поиск объектов и клиентов.
                                li Сбор и оформление документов, связанных со сделкой.
                                li Активный посик объектов иклиентов.
                                li Сбор и оформление документов, связанных со сделкой.
                                li Выезды на объекты, консультации по недвижимости, по ипотечному кредитованию, покупки, продажи, альтернативы, срочного выкупа.
                        div(class="vacancies-item-subtitle") Требования:
                        div(class="page-text")
                            ul
                                li Коммуникабельность
                                li Настойчивость, ответсвенность, целеустремленность
                                li Нацеленность на результат
                        div(class="vacancies-item-subtitle") Услования:
                        div(class="page-text")
                            ul
                                li До 60% от каждой сделки
                                li Безлимитную мобильную связь
                                li Система поощрений
                                li Комфортный офис в центре Москвы
                                li Полный рабочий день
                                li На территории работтодателя
                        div(class="vacancies-item-subtitle") Зарплата:
                        div(class="page-text")
                            ul
                                li От 60 000 до 150 000 руб
                        
                        a(href="#", class="link button button--orange-flood vacancies-link") Откликнуться на вакансию
                div(class="vacancies-contacts")
                    div(class="vacancies-subtitle") Контакты
                    a(href="tell:+78007075523", class="link link--orange vacancies-link") 8-800-707-55-23
                    a(href="mail:info@sunsochi.com", class="link link-black--bottom vacancies-link") info@sunsochi.com
                        
