include ../lib/html/html.jade
doctype html
<!--[if IE 7]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 8]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 9]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
html(lang="ru", class="no-js", prefix="og:http://ogp.me/ns#")
	<!--<![endif]-->
	head
		+headerMeta({
			charset: "utf-8",
			keywords: info.keywords,
			description: info.description,
			title: info.title,
			robots: "index, follow",
			viewport: "width=device-width, initial-scale=1.0"
		})
		+openGraph({ 
			type: "website",
			siteName: info.siteName,
			title: info.title,
			description: info.description,
			url: info.productionUrl,
			image: info.image
		}) 
		+webIcons({
			favicon: {
				src: "i/favicon.ico"
			},
			appleTouchIcon: [
				{
					src: "../i/icons/apple-touch-icon.jpg"
				}, {
					src: "../i/icons/apple-touch-icon-76.jpg",
					size: "76x76"
				}, {
					src: "../i/icons/apple-touch-icon-140.jpg",	
					size: "140x140"
				}, {
					src: "../i/icons/apple-touch-icon-152.jpg",
					size: "152x152"
				}
			]
		})
		+addCSS([
			{
				media: "screen",
				href: "../css/plugins/magnific-popup.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/plugins/owl.carousel.min.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/plugins/lightslider.min.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/plugins/tooltipster.bundle.min.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/" + info.code + ".css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/" + info.code + ".responsive.css",
				noCache: true
			}
		])

	body(itemscope, itemtype="http://schema.org/WebPage", class="")
		div(class="page")
			if page.code != "page-404"
				header(class="page-header", itemscope, itemtype="http://schema.org/WPHeader")
					div(class="header-row header-row--top")
						div(class="page-inner page-inner--w1")
							+menu({
								rootClass: "header-top",
								items: [
									{
										name: "О компании",
										href: "about.html",
										linkClass: "link link-white link--orange active",
										title: "",
									}, {
										name: "Сотрудники",
										href: "employees.html",
										linkClass: "link link-white link--orange",
										title: "",
									}, {
										name: "Отзывы",
										href: "reviews.html",
										linkClass: "link link-white link--orange",
										title: "",
									}, {
										name: "Новости",
										href: "news.html",
										linkClass: "link link-white link--orange",
										title: "",
									}, {
										name: "Блог",
										href: "blog.html",
										linkClass: "link link-white link--orange",
										title: "",
									}, {
										name: "Застройщики",
										href: "developers.html",
										linkClass: "link link-white link--orange",
										title: "",
									}, {
										name: "Партнеры",
										href: "partners.html",
										linkClass: "link link-white link--orange",
										title: "",
									}, {
										name: "Контакты",
										href: "contacs.html",
										linkClass: "link link-white link--orange",
										title: "",
									}, {
										name: "Вакансии",
										href: "vacancies.html",
										linkClass: "link link-white link--orange",
										title: "",
									}, 
								]
							})
					
					div(class="header-row header-row--middle")
						div(class="page-inner page-inner--w1")
							div(class="header-row-items")
								div(class="header-logo")
									a(href="home.html", class="link header-logo-img")
										include ../../prod/svg/logo.svg
									span(class="header-logo-title") Вся жилая и коммерческая недвижимость в Сочи с помощью выбора и оформления
								
								div(class="header-mobile")
									span(class="header-mobile-title") Звоните нам бесплатно по РФ
									a(href="tel:+78007075523", class="link link--orange header-mobile-item") 8-800-707-55-23

								a(href="form-call.html", class="link button button--orange header-call mfp-modal", data-mfp-type="ajax", data-mfp-ajaxcontent="#form-call", data-mfp-bcg="#009ecc", data-mfp-closeinside="false") Заказать звонок
								
								div(class="header-mobile-elements")
									div(class="header-favorites mobile-favorites")
										a(href="#", class="link header-favorites-holder")
											include ../../prod/svg/star.svg
										span(class="header-favorites-count", data-favorite="0") 0

									div(class="header-burger")
										span(class="header-burger-inner")

					div(class="header-row header-row--bottom")
						div(class="page-inner page-inner--w1")
							div(class="header-row-items")
								div(class="header-logo header-logo--mini")
									a(href="home.html", class="link header-logo-img")
										include ../../prod/svg/logo-mini.svg
								+menu({
									rootClass: "header-bottom",
									items: [
										{
											name: "Новостройки",
											href: "new-buildings.html",
											linkClass: "link link-black link--orange active",
											title: "",
										}, {
											name: "Квартиры",
											href: "apartments.html",
											linkClass: "link link-black link--orange",
											title: "",
										}, {
											name: "Элитные",
											href: "apartments.html",
											linkClass: "link link-black link--orange",
											title: "",
										}, {
											name: "Дома",
											href: "houses.html",
											linkClass: "link link-black link--orange",
											title: "",
										}, {
											name: "Участки",
											href: "areas.html",
											linkClass: "link link-black link--orange",
											title: "",
										}, {
											name: "Коммерческие",
											href: "areas.html",
											linkClass: "link link-black link--orange",
											title: "",
										}, {
											name: "Инвестиции",
											href: "investments.html",
											linkClass: "link link-black link--orange",
											title: "",
										}, 
									]
								})
								div(class="header-favorites")
									a(href="#", class="link header-favorites-holder")
										include ../../prod/svg/star.svg
									span(class="header-favorites-count", data-favorite="0") 0
				
			main(class="page-content") 
				block content
		
		div(class="tooltip-container", data-tooltip-apartment)
			form(class="form")
				div(class="tooltip-apartment-title", data-tooltip-apartment-title)
				div(class="tooltip-apartment-price", data-tooltip-apartment-price)
				div(class="tooltip-apartment-id", data-tooltip-apartment-id)
				div(class="tooltip-apartment-holder")
					img(src="", class="tooltip-apartment-img", data-tooltip-apartment-img)
				div(class="tooltip-apartment-holder-sheme")
					img(src="", class="tooltip-apartment-img", data-tooltip-apartment-imgsheme)
				a(href="#", class="link tooltip-apartment-icon")
					include ../../prod/svg/download.svg
				a(href="#", class="link tooltip-apartment-icon", data-print)
					include ../../prod/svg/print.svg
				a(href="#", class="link tooltip-apartment-icon")
					include ../../prod/svg/star_orage.svg
					
				a(href="form-bid.html", class="link button button--orange-reverse tooltip-apartment-button mfp-modal", data-mfp-type="ajax", data-mfp-ajaxcontent="#form-call", data-mfp-bcg="#009ecc", data-mfp-closeinside="false") Оставить заявку

			button(type="button", class="tooltip-close")
				include ../../prod/svg/close_gray.svg
		
		div(class="mobile-menu")
			div(class="mobile-menu-background")
			div(class="mobile-menu-container")
				div(class="mobile-menu-title") Вся жилая и коммерческая недвижимость в Сочи с помощью выбора и оформления	
				div(class="mobile-menu-info")
					span(class="header-mobile-title") Звоните нам бесплатно по РФ
					a(href="tel:+78007075523", class="link header-mobile-item") 8-800-707-55-23
				a(href="form-call.html", class="link button button--white header-call-mobile mfp-modal", data-mfp-type="ajax", data-mfp-ajaxcontent="#form-call", data-mfp-bcg="#009ecc", data-mfp-closeinside="false") Заказать звонок
				+menu({
					rootClass: "mobile-menu-top",
					items: [
						{
							name: "Новостройки",
							href: "new-buildings.html",
							linkClass: "link link-white link--orange active",
							title: "",
						}, {
							name: "Квартиры",
							href: "apartments.html",
							linkClass: "link link-white link--orange",
							title: "",
						}, {
							name: "Элитные",
							href: "apartments.html",
							linkClass: "link link-white link--orange",
							title: "",
						}, {
							name: "Дома",
							href: "houses.html",
							linkClass: "link link-white link--orange",
							title: "",
						}, {
							name: "Участки",
							href: "areas.html",
							linkClass: "link link-white link--orange",
							title: "",
						}, {
							name: "Коммерческие",
							href: "areas.html",
							linkClass: "link link-white link--orange",
							title: "",
						}, {
							name: "Инвестиции",
							href: "investments.html",
							linkClass: "link link-white link--orange",
							title: "",
						}, 
					]
				})

				+menu({
					rootClass: "mobile-menu-bottom",
					items: [
						{
							name: "О компании",
							href: "about.html",
							linkClass: "link link-white link--orange active",
							title: "",
						}, {
							name: "Сотрудники",
							href: "employees.html",
							linkClass: "link link-white link--orange",
							title: "",
						}, {
							name: "Отзывы",
							href: "reviews.html",
							linkClass: "link link-white link--orange",
							title: "",
						}, {
							name: "Новости",
							href: "news.html",
							linkClass: "link link-white link--orange",
							title: "",
						}, {
							name: "Блог",
							href: "blog.html",
							linkClass: "link link-white link--orange",
							title: "",
						}, {
							name: "Застройщики",
							href: "developers.html",
							linkClass: "link link-white link--orange",
							title: "",
						}, {
							name: "Партнеры",
							href: "partners.html",
							linkClass: "link link-white link--orange",
							title: "",
						}, {
							name: "Контакты",
							href: "contacs.html",
							linkClass: "link link-white link--orange",
							title: "",
						}, {
							name: "Вакансии",
							href: "vacancies.html",
							linkClass: "link link-white link--orange",
							title: "",
						}, 
					]
				})

					
				
			
		div(class="body-preloader")
			div(class="preloader-container")
				img(src="../svg/logo-mini_preload.svg", class="preloader-img")
		
		if page.code != "page-404"
			footer(class="page-footer", itemscope, itemtype="http://schema.org/WPFooter")
				div(class="page-inner page-inner--w1")
					div(class="footer-row footer-row--top")
						+menu({
							rootClass: "footer-top",
							items: [
								{
									name: "Новостройки",
									href: "new-buildings.html",
									linkClass: "link link-white link-white--bottom-reverse",
									title: "",
								}, {
									name: "Квартиры",
									href: "apartments.html",
									linkClass: "link link-white link-white--bottom-reverse",
									title: "",
								}, {
									name: "Элитные",
									href: "houses.html",
									linkClass: "link link-white link-white--bottom-reverse",
									title: "",
								}, {
									name: "Дома",
									href: "houses.html",
									linkClass: "link link-white link-white--bottom-reverse",
									title: "",
								}, {
									name: "Участки",
									href: "areas.html",
									linkClass: "link link-white link-white--bottom-reverse",
									title: "",
								}, {
									name: "Коммерческие",
									href: "areas.html",
									linkClass: "link link-white link-white--bottom-reverse",
									title: "",
								}, {
									name: "Инвестиции",
									href: "investments.html",
									linkClass: "link link-white link-white--bottom-reverse",
									title: "",
								}, 
							]
						})
					div(class="footer-row footer-row--top")
						+menu({
							rootClass: "footer-next",
							items: [
								{
									name: "О компании",
									href: "about.html",
									linkClass: "link link-white link-white--bottom-reverse",
									title: "",
								}, {
									name: "Сотрудники",
									href: "employees.html",
									linkClass: "link link-white link-white--bottom-reverse",
									title: "",
								}, {
									name: "Отзывы",
									href: "reviews.html",
									linkClass: "link link-white link-white--bottom-reverse",
									title: "",
								}, {
									name: "Новости",
									href: "news.html",
									linkClass: "link link-white link-white--bottom-reverse",
									title: "",
								}, {
									name: "Блог",
									href: "blog.html",
									linkClass: "link link-white link-white--bottom-reverse",
									title: "",
								}, {
									name: "Застройщики",
									href: "developers.html",
									linkClass: "link link-white link-white--bottom-reverse",
									title: "",
								}, {
									name: "Партнеры",
									href: "partners.html",
									linkClass: "link link-white link-white--bottom-reverse",
									title: "",
								}, {
									name: "Контакты",
									href: "contacts.html",
									linkClass: "link link-white link-white--bottom-reverse",
									title: "",
								}, {
									name: "Вакансии",
									href: "vacancies.html",
									linkClass: "link link-white link-white--bottom-reverse",
									title: "",
								}, 
							]
						})
					div(class="footer-row footer-row--bottom")
						div(class="footer-info")
							a(href="#", class="link link-bottom-orange footer-info-private") Политика обработки персональных данных
							div(class="footer-info-name") SunSochi.com - Недвижимость в Сочи
							a(href="http://aheadstudio.ru", target="_blank,"  class="link footer-creators") 
								span(class="footer-creators-title") Поддержка сайта
								span(class="footer-creators-name") Aheadstudio
						div(class="footer-social")
							div(class="footer-social-item")
								include ../../prod/svg/vk.svg
							div(class="footer-social-item")
								include ../../prod/svg/fb.svg
							div(class="footer-social-item")
								include ../../prod/svg/instagram.svg
							div(class="footer-social-item")
								include ../../prod/svg/youtube.svg

		+addJS([
			{
				src: "../js/jquery-3.2.1.min.js"
			}, {
				src: "../js/plugins/touchSwipe.js"
			}, {
				src: "../js/plugins/jcf.js"
			}, {
				src: "../js/plugins/jcf.checkbox.js"
			}, {
				src: "../js/plugins/jcf.range.js"
			}, {
				src: "../js/plugins/jcf.select.js"
			}, {
				src: "../js/plugins/jquery.magnific-popup.min.js"
			}, {	
				src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyDOtcx9Sm_hunFMGzh4eqe_XRkFUYMWIao&sensor=true"
			}, {
				src: "http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU"
			}, {	
				src: "../js/plugins/owl.carousel.min.js"
			}, {	
				src: "../js/plugins/jquery.mask.min.js"
			}, {	
				src: "../js/plugins/lightslider.min.js"
			}, {	
				src: "../js/plugins/jquery.table-sorter.js"
			}, {	
				src: "../js/plugins/tooltipster.bundle.min.js"
			}, {	
				src: "../js/plugins/jquery.raty.js"
			}, {	
				src: "../js/plugins/jquery.validate.min.js"
			}, {	
				src: "../js/plugins/sticky-kit.js"
			}, {	
				src: "../js/plugins/jquery.autocomplete.js"
			}, {	
				src: "../js/plugins/jquery.cookie.js"
			}, {	
				src: "../js/plugins/jquery.number.js"
			}, {	
				src: "../js/plugins/ssm.min.js"
			}, {
				src: "../js/" + info.code + ".js"
			}
		])
