include ../lib/html/html.jade
doctype html
<!--[if IE 7]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 8]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie8 no-js"><![endif]-->
<!--[if IE 9]><html lang="ru" prefix="og: http://ogp.me/ns#" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
html(lang="ru", class="no-js", prefix="og:http://ogp.me/ns#")
	<!--<![endif]-->
	head
		+headerMeta({
			charset: "utf-8",
			keywords: info.keywords,
			description: info.description,
			title: info.title,
			robots: "index, follow",
			viewport: "width=device-width, initial-scale=1.0"
		})
		+openGraph({
			type: "website",
			siteName: info.siteName,
			title: info.title,
			description: info.description,
			url: info.productionUrl,
			image: info.image
		})
		+webIcons({
			favicon: {
				src: "/i/favicon.ico"
			},
			appleTouchIcon: [
				{
					src: "../i/icons/apple-touch-icon.jpg"
				}, {
					src: "../i/icons/apple-touch-icon-76.jpg",
					size: "76x76"
				}, {
					src: "../i/icons/apple-touch-icon-140.jpg",	
					size: "140x140"
				}, {
					src: "../i/icons/apple-touch-icon-152.jpg",
					size: "152x152"
				}
			]
		})
		+addCSS([
			{
				media: "screen",
				href: "../css/plugins/magnific-popup.css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/" + info.code + ".css",
				noCache: true,
			}, {
				media: "screen",
				href: "../css/" + info.code + ".responsive.css",
				noCache: true
			}
		])

	body(itemscope, itemtype="http://schema.org/WebPage")
		div(class="page")
			header(class="page-header", itemscope, itemtype="http://schema.org/WPHeader")
				div(class="header-row header-row--top")
					div(class="page-inner page-inner--w1")
						+menu({
							rootClass: "header-top",
							items: [
								{
									name: "О компании",
									href: "about.html",
									linkClass: "link link-white link--orange",
								}, {
									name: "Сотрудники",
									href: "personals.html",
									linkClass: "link link-white link--orange",
								}, {
									name: "Отзывы",
									href: "reviews.html",
									linkClass: "link link-white link--orange",
								}, {
									name: "Новости",
									href: "news.html",
									linkClass: "link link-white link--orange",
								}, {
									name: "Блог",
									href: "blog.html",
									linkClass: "link link-white link--orange",
								}, {
									name: "Застройщики",
									href: "builders.html",
									linkClass: "link link-white link--orange",
								}, {
									name: "Партнеры",
									href: "partners.html",
									linkClass: "link link-white link--orange",
								}, {
									name: "Контакты",
									href: "contacts.html",
									linkClass: "link link-white link--orange",
								}, 
							]
						})
				div(class="header-row header-row--middle")
					div(class="page-inner page-inner--w1")
						div(class="header-row-items")
							div(class="header-logo")
								a(href="home.html", class="link header-logo-img")
									include ../svg/logo.svg
								span(class="header-logo-title") Вся жилая и коммерческая недвижимость в Сочи с помощью выбора и оформления
							
							div(class="header-mobile")
								span(class="header-mobile-title") Звоните нам бесплатно по РФ
								a(href="tell:+78007075523", class="link header-mobile-item") 8-800-707-55-23

							a(href="#", class="link button button--orange header-call") Заказать звонок
							
				div(class="header-row header-row--bottom")
					div(class="page-inner page-inner--w1")
						div(class="header-row-items")
							+menu({
							rootClass: "header-bottom",
							items: [
								{
									name: "Новостройки",
									href: "about.html",
									linkClass: "link link-black link--orange",
								}, {
									name: "Квартиры",
									href: "personals.html",
									linkClass: "link link-black link--orange",
								}, {
									name: "Элитные",
									href: "reviews.html",
									linkClass: "link link-black link--orange",
								}, {
									name: "Дома",
									href: "news.html",
									linkClass: "link link-black link--orange",
								}, {
									name: "Участки",
									href: "blog.html",
									linkClass: "link link-black link--orange",
								}, {
									name: "Коммерческие",
									href: "builders.html",
									linkClass: "link link-black link--orange",
								}, {
									name: "Инвестиции",
									href: "partners.html",
									linkClass: "link link-black link--orange",
								}, 
							]
							})
							div(class="header-favorites")
								a(href="#", class="link header-favorites-holder")
									include ../svg/star.svg
								span(class="header-favorites-count", data-favorite="0") 0
				
			main(class="page-content") 
				block content

		footer(class="page-footer", itemscope, itemtype="http://schema.org/WPFooter")
			div(class="page-inner page-inner--w1")
				div(class="footer-row footer-row--top")
					+menu({
						rootClass: "footer-top",
						items: [
							{
								name: "Новостройки",
								href: "about.html",
								linkClass: "link link-white link--orange",
							}, {
								name: "Квартиры",
								href: "personals.html",
								linkClass: "link link-white link--orange",
							}, {
								name: "Элитные",
								href: "reviews.html",
								linkClass: "link link-white link--orange",
							}, {
								name: "Дома",
								href: "news.html",
								linkClass: "link link-white link--orange",
							}, {
								name: "Участки",
								href: "blog.html",
								linkClass: "link link-white link--orange",
							}, {
								name: "Коммерческие",
								href: "builders.html",
								linkClass: "link link-white link--orange",
							}, {
								name: "Инвестиции",
								href: "partners.html",
								linkClass: "link link-white link--orange",
							}, 
						]
					})
				div(class="footer-row footer-row--top")
					+menu({
						rootClass: "footer-next",
						items: [
							{
								name: "О компании",
								href: "about.html",
								linkClass: "link link-white link--orange",
							}, {
								name: "Сотрудники",
								href: "personals.html",
								linkClass: "link link-white link--orange",
							}, {
								name: "Отзывы",
								href: "reviews.html",
								linkClass: "link link-white link--orange",
							}, {
								name: "Новости",
								href: "news.html",
								linkClass: "link link-white link--orange",
							}, {
								name: "Блог",
								href: "blog.html",
								linkClass: "link link-white link--orange",
							}, {
								name: "Застройщики",
								href: "builders.html",
								linkClass: "link link-white link--orange",
							}, {
								name: "Партнеры",
								href: "partners.html",
								linkClass: "link link-white link--orange",
							}, {
								name: "Контакты",
								href: "contacts.html",
								linkClass: "link link-white link--orange",
							}, 
						]
					})
				div(class="footer-row footer-row--bottom")
					div(class="footer-info")
						a(href="#", class="link link-bottom-orange footer-info-private") Политика обработки персональных данных
						div(class="footer-info-name") SunSochi.com - Недвижимость в Сочи
						a(href="#", class="link footer-creators") 
							span(class="footer-creators-title") Поддержка сайта
							span(class="footer-creators-name") Aheadstudio
					div(class="footer-social")
						div(class="footer-social-item")
							include ../svg/vk.svg
						div(class="footer-social-item")
							include ../svg/fb.svg
						div(class="footer-social-item")
							include ../svg/instagram.svg
						div(class="footer-social-item")
							include ../svg/youtube.svg

		+addJS([
			{
				src: "../js/jquery-3.2.1.min.js"
			}, {
				src: "../js/plugins/jcf.js"
			}, {
				src: "../js/plugins/jcf.checkbox.js"
			}, {
				src: "../js/plugins/jcf.range.js"
			}, {
				src: "../js/plugins/jcf.select.js"
			}, {
				src: "../js/plugins/jquery.magnific-popup.min.js"
			}, {
				src: "../js/" + info.code + ".js"
			}
		])
