/*** Settings ***/
@import "nib"
@import "../lib/css/css"

global-reset();
reset-html5();
form-reset();
b
strong
i
em
	font-style normal
	font-weight normal

$transitionAnimation = cubic-bezier(0.250, 0.460, 0.450, 0.940)

/* fonts */

/* //fonts */


html
	height 100%
body
	position relative
	width 100%
	height 100%
	min-height 100vh
	line-height 1
	cursor default

/*** //Settings ***/


/*** main style ***/
.page
	display block
	width 100%

	min-height 100%

	margin 0 auto

.page-inner
	position relative
	display block
	margin 0 auto
	box-sizing border-box

/** button and link **/
