@media print
    body
        color: #000;
        background: #fff;
    svg
        display none

    .header-top
    .header-bottom
        display none

    .header-row--top
    .header-row--bottom
        display none

    .header-top-inner
    .header-bottom-inner
        display none

    .header-mobile
        display none

    .header-logo
        .header-logo-title
            display none !important

    .header-logo .header-logo-img
        max-width 50%
        svg
            display block

    .header-logo.header-logo--mini
        display none

    .apartment
        margin-top 0

    .apartment
        .apartment-item
            display none

    .apartment
        .apartment-slider
            display none

            .apartment-slider-item
                display none

                img
                    display none

    .apartment
        h2
            display none

        .apartment-list
            display none

            .apartment-table
                display none
        .apartment-result
            display none
    .offers-list
        display none

    .order-call
        display none

    .page-footer
        display none !important

    .footer-row--top
        display none

        .footer-top
            display none

            .footer-top-inner
                display none

    .apartment-table
    .header-logo-title
    .header-mobile
    .header-call
    .header-favorites
        display none

    .tooltip-container
        .tooltip-apartment-button
            display none
