/*** Settings ***/
@import "nib"
@import "../lib/css/css"

global-reset();
reset-html5();
form-reset();
b
strong
i
em
	font-style normal
	font-weight normal

$transitionAnimation = cubic-bezier(0.250, 0.460, 0.450, 0.940)

$colorDarkGray = #3a4347
$colorGray = #9b9b9b
$colorLightBlue = #f7f8fb
$colorLightGray = #e3e3e3
$colorTurquoise = #e1e8eb
$colorLightBlack = #2C2F2F
$colorOrange = #f99d22
$colorRed = #f01624
$colorBlue = #009ecc

/* fonts */
@font-face
	font-family "ProximaNovaBlack"
	src url("../fonts/ProximaNova-Black.woff") format("woff")

@font-face
	font-family "ProximaNovaLight"
	src url("../fonts/ProximaNova-Light.woff") format("woff")

@font-face
	font-family "ProximaNovaRegular"
	src url("../fonts/ProximaNova-Regular.woff") format("woff")

@font-face
	font-family "ProximaNovaSemibold"
	src url("../fonts/ProximaNova-Semibold.woff") format("woff")

@font-face
	font-family "ProximaNovaBold"
	src url("../fonts/ProximaNova-Bold.woff") format("woff")

@font-face
	font-family "Rubl"
	src url("../fonts/rouble.woff") format("woff")
/* //fonts */

html
	height 100%
body
	position relative
	width 100%
	height 100%
	min-height 100vh
	line-height 1
	cursor default
	font-family "ProximaNovaRegular"

	color $colorLightBlack

	transition opacity 0.3s $transitionAnimation

/*** //Settings ***/

/*** main style ***/
.page
	display block
	width 100%

	min-height 100%

	margin 0 auto

.page-inner
	position relative
	display block
	margin 0 auto
	box-sizing border-box

	&--w1
		max-width 1000px
		padding 0 20px

	&--w2
		max-width 810px
		padding 0 20px

	&--w3
		max-width 750px
		padding 0 20px

	&--w4
		max-width 655px
		padding 0 20px

	&--max
		max-width 100%

/** header **/
.page-header
	width 100%

.header-row-items
	display flex
	justify-content  space-between
	align-items center

.header-row--top
	width 100%
	margin-bottom 45px
	background-color $colorDarkGray

.header-top
	padding 15px 0

	.header-top-item-holder
		display inline-block
		margin-right 40px

		&:last-child
			margin-right 0

		.header-top-item
			font-size 14px
			font-family "ProximaNovaSemibold"

			&.active
				color $colorOrange

.header-logo
	display flex
	max-width 460px

	.header-logo-img
		display inline-block
		margin-right 20px
		float left
		max-width 215px
		width 100%

		svg
			display block
			width 100%

	.header-logo-title
		display block
		width 50%
		padding-top 4px
		vertical-align top

		box-sizing border-box

		font-size 14px

	&.header-logo--mini
		display none
		width 25px

		margin-right 0
		height 100%

		.header-logo-img
			width 100%

			svg
				path
					transition fill 0.3s $transitionAnimation

		&:hover
			.header-logo-img
				svg
					path
						fill $colorOrange

.header-mobile
	.header-mobile-title
		display block
		margin-bottom 10px

		font-size 14px
		color $colorBlue

	.header-mobile-item
		display block

		font-size 22px
		font-family "ProximaNovaBold"

		color $colorBlue

		white-space nowrap

.header-row-items
	.header-call
		padding 15px 25px
		font-size 14px
		max-height 47px

		white-space nowrap

.header-row--middle
	padding-bottom 20px

.header-bottom-inner
	.header-bottom-item-holder
		display inline-block
		margin-right 35px

		&:last-child
			margin-right 0

		.header-bottom-item
			font-size 16px

			font-family "ProximaNovaSemibold"

			&.active
				color $colorOrange

.header-favorites
	display flex
	align-items center

	.header-favorites-holder
		display block
		width 25px
		height 25px

		svg
			display block
			width 100%

			path
				transition fill 0.3s $transitionAnimation

		&.active
			svg
				path
					fill $colorOrange

	.header-favorites-count
		padding-left 10px
		box-sizing border-box
		font-size 15px
		font-family "ProximaNovaSemibold"

		color $colorLightBlack

.header-row--bottom
	padding 15px 0
	border-top 2px solid $colorLightBlue
	border-bottom 2px solid $colorLightBlue

.fixed-header
	.header-row--middle
		padding-bottom 88px

	.header-row--bottom
		position fixed
		top 0
		left 0
		right 0

		width 100%
		padding 10px 0

		background #fff
		border-bottom 3px solid $colorLightGray

		opacity 0
		transform translateY(-100px)
		transition transform 0.3s $transitionAnimation

		z-index 1010

		.header-logo
			&.header-logo--mini
				display block

	&.fixed-header--show
		.header-row--bottom
			opacity 1
			transform translateY(0)
/** //header **/


/** //mobile **/

.header-burger
	position relative
	display none
	width: 20px
	height 14px
	cursor pointer

	transition transform 0.3s $transitionAnimation

	.header-burger-inner
		position absolute
		top 6.5px
		left 0
		right 0

		display block
		width 100%
		height 2px

		background-color #4a4a4a
		transition opacity 0.3s $transitionAnimation

	&:before
	&:after
		content ""
		position: absolute

		left 0
		right 0

		display block
		width 100%
		height 2px

		background-color #4a4a4a

		transition transform 0.3s $transitionAnimation, background-color 0.3s $transitionAnimation

	&:before
		top 0

	&:after
		bottom 0

	&.active
		z-index 1010

	&.active--hover
		.header-burger-inner
			opacity 0
			background #fff
		&:before
			background #fff
			transform rotate(-40deg) translateX(-3px) translateY(6.5px)
		&:after
			background #fff
			transform rotate(40deg) translateX(-2px) translateY(-5px)

.header-mobile-elements
	display none

.mobile-menu
	position: fixed
	left 0
	right 0
	top 0
	bottom 0
	display none
	z-index 1000

	&.active-block
		display block
		overflow-y auto

body.open-menu
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	overflow hidden
	height 100%
	-webkit-overflow-scrolling touch

	.mfp-wrap
		bottom 0
		overflow-y auto

	.header-logo
		position relative
		z-index: 10000

		svg
			path[fill='#009ecc']
				fill #fff

			path[fill='#f89d21']
				fill $colorOrange

	.page-header
		position relative
		background-color $colorBlue

		z-index 1001

		.mobile-favorites
			opacity 0


.mobile-menu
	.mobile-menu-background
		position fixed
		top 0px
		right 0
		left 0
		bottom 0
		display block
		width 100%
		height 100%
		background #009ecc
		transform translateX(-100%)
		opacity 0
		transition transform 0.6s $transitionAnimation, opacity 0.3s $transitionAnimation
		transition-delay 0.3s

	.mobile-menu-container
		position relative
		display none
		height auto
		margin-top: 100px
		padding-bottom 50px
		box-sizing border-box
		transform translateX(-50px)
		transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation
		transition-delay 0s
		opacity 0

.mobile-menu
	&.active-block
		.mobile-menu-container
			display block

	&.active-show
		.mobile-menu-background
			transform translateX(0)
			opacity 1
			transition-delay 0s

		.mobile-menu-container
			transform translateY(0)
			opacity 1
			transition-delay 0.4s


.mobile-menu-container
	.mobile-menu-title
		padding 0 20px
		box-sizing border-box
		margin-bottom 30px
		font-size 18px
		color #fff

	.header-mobile-title
		display block
		padding 0 20px
		box-sizing border-box

		margin-bottom 10px
		color #fff

	.header-mobile-item
		padding 0 20px
		box-sizing border-box

		font-size 24px
		font-family "ProximaNovaBold"

		color #fff

		&:hover
			color $colorOrange

	.header-call-mobile
		padding 15px
		margin 20px 0 0 20px
		max-width 165px

	.mobile-menu-top
		margin-top 20px
		padding 20px 20px 0 20px
		border-top 1px solid $colorLightGray

		.mobile-menu-top-item-holder
			margin-bottom 30px

			&:last-child
				margin-bottom 0

			.mobile-menu-top-item
				font-size 20px
				font-family "ProximaNovaSemibold"

	.mobile-menu-bottom
		margin-top 20px
		padding  20px 20px 0 20px
		border-top 1px solid $colorLightGray

		.mobile-menu-bottom-item-holder
			margin-bottom 30px

			&:last-child
				margin-bottom 0

			.mobile-menu-bottom-item
				font-size 16px
				font-family "ProximaNovaSemibold"

/** //mobile **/


/** footer **/

.page-footer
	background $colorDarkGray
	padding 55px 70px 40px 70px

.footer-row
	display flex
	flex-wrap wrap
	justify-content space-between
	align-items center

	&--top
		margin-bottom 25px

	&--bottom
		margin-top 70px

.footer-top-item-holder
	display inline-block
	margin-right 20px

	&:last-child
		margin-right 0

	.footer-top-item
		font-size 16px
		font-family "ProximaNovaSemibold"

.footer-next-item-holder
	display inline-block
	margin-right 23px

	&:last-child
		margin-right 0

	.footer-next-item
		font-size 15px

.footer-info
	.footer-info-private
		display block
		margin-bottom 10px
		padding-bottom 1px
		color $colorOrange

		border-bottom 1px solid transparent
		transition border-bottom-color 0.3s $transitionAnimation

		font-size 15px

		&:hover
			border-bottom-color $colorOrange

	.footer-info-name
		display block
		margin-bottom 10px

		font-size 15px

		color #fff

	.footer-creators
		.footer-creators-title
			margin-right 5px
			color #fff
			font-size 15px
		.footer-creators-name
			color $colorOrange
			font-size 15px
			border-bottom 1px solid transparent
			transition border-bottom-color 0.3s $transitionAnimation
		&:hover
			.footer-creators-name
				border-bottom-color $colorOrange

.footer-social
	display grid
	grid-template-columns 1fr 1fr 1fr 1fr
	grid-gap 0 20px

	.footer-social-item
		display block
		width 25px
		height 25px

		border-radius 7px
		overflow hidden

		cursor pointer

		transition opacity 0.3s $transitionAnimation

		svg
			display block
			width 100%
			path[fill="#fff"]
				fill-opacity 1
				transition fill 0.3s $transitionAnimation, fill-opacity 0.3s $transitionAnimation

		&:hover
			svg
				path[fill="#fff"]
					fill #fff
					fill-opacity 0.5

.page-text
	font-size 16px
	font-family "ProximaNovaRegular"

	h1
		display block
		text-align center

		font-family "ProximaNovaSemibold"
		font-size 28px

		line-height 45px

	h2
		display block
		text-align center

		font-family "ProximaNovaSemibold"
		font-size 24px

		line-height 54px

	h3
		font-size 16px
		font-family "ProximaNovaSemibold"

	dl
		display grid
		grid-template-columns 1fr 1fr
		grid-gap 20px 0
		overflow hidden

		dt
			position relative
			font-size 15px

		dd
			font-size 15px
			font-family "ProximaNovaSemibold"
			color #4a494a
			text-align right

		&.dark
			dd
			dt
				color $colorLightBlack

				&.title
					font-family "ProximaNovaSemibold"
					margin-bottom 30px

	p
		line-height 22px
		margin-bottom 30px

		font-size 16px
		font-family "ProximaNovaRegular"

		&:last-child
			margin-bottom 0

	.border-text
		box-sizing border-box

		&--full
			border-top 1px solid $colorLightGray
			padding 40px 0 50px 0
			border-bottom 1px solid $colorLightGray

		&--bottom
			padding 0 0 30px 0
			border-bottom 1px solid $colorLightGray

	sup
		font-size 12px
		vertical-align top

	table
		width 100%

		thead
			tr
				th
					padding 17px 0 15px 0
					box-sizing border-box
					background-color $colorTurquoise
					border-bottom 2px solid #d0d0d0

					font-family "ProximaNovaSemibold"

					color #000

		tr
			width 100%

			td
				padding 25px 0
				box-sizing border-box

				border-bottom 1px solid $colorLightGray

				color #000
				font-size 18px

				&:first-child
					padding-left 5px

				&:last-child
					padding-left 10px

			&.not-active
				opacity 0.4

	.img
		display block
		width 100%

		&-w50
			width 50%

		&-w30
			width 30%

		&--right
			float right
			margin 0 0 40px 60px

		&--left
			float left
			margin 0 60px 40px 0

	.check-list
		display flex
		flex-wrap wrap
		justify-content space-between

		.check-item
			position relative

			display block
			width 48%

			margin-bottom 35px

			padding-left 40px
			box-sizing border-box

			font-size 18px
			font-family "ProximaNovaSemibold"

			color #4A494A

			line-height 25px

			&:before
				content ""
				position absolute
				left 0
				top 5px

				display block
				width 25px
				height 25px

				background-image url("../svg/check_blue.svg")
				background-repeat no-repeat
				background-size contain

	ul
		display block

		li
			position relative
			display block
			padding-left 40px
			box-sizing border-box
			margin-bottom 20px

			&:before
				content "\2022"
				position absolute
				left 10px
				top -2px

	.page-title
	h1
		display block
		margin 55px 0 30px 0

		font-size 50px
		font-family "ProximaNovaBold"

		color #4A494A
		text-align center

	.page-subtitle
		margin-bottom 50px
		font-size 20px
		font-family "ProximaNovaSemibold"
		color #333333
		text-align center

	b
		font-family "ProximaNovaSemibold"

	strong
		font-family "ProximaNovaSemibold"

	i
		font-style italic

	em
		font-style italic

	ol
		list-style: circle;

		li
			margin-bottom 20px

	figure
		display block
		width 100%

	figcaption
		display block
		margin-top 10px
		font-size 14px

/** //footer **/

/** button and link **/
.link
	text-decoration none

.link-white
	color #fff

.link-black
	color $colorLightBlack

.link-blue
	color $colorBlue

.link-orange
	color $colorOrange

.link--orange
	transition all 0.3s $transitionAnimation

	&:hover
		color $colorOrange

.link--blue
	transition all 0.3s $transitionAnimation

	&:hover
		color $colorBlue

.link--opacity
	transition all 0.3s $transitionAnimation
	&:hover
		opacity 0.6

.link-blue--bottom
	border-bottom 1px solid transparent
	transition all 0.3s $transitionAnimation

	&:hover
		border-bottom-color $colorBlue

.link-blue--bottom-reverse
	border-bottom 1px solid transparent
	transition all 0.3s $transitionAnimation

	&:hover
		border-bottom-color $colorBlue

.link-black--bottom
	border-bottom 1px solid $colorLightBlack
	transition all 0.3s $transitionAnimation

	&:hover
		border-bottom-color transparent

.link-black--bottom-inverse
	border-bottom 1px solid transparent
	transition all 0.3s $transitionAnimation

	&:hover
		border-bottom-color $colorLightBlack

.link-black--bottom-blue
	border-bottom 1px solid $colorLightBlack
	transition all 0.3s $transitionAnimation

	&:hover
		border-bottom-color $colorBlue

.link-orange--bottom
	border-bottom 1px solid transparent
	transition all 0.3s $transitionAnimation

	&:hover
		border-bottom-color $colorOrange

.link-orange--bottom-reverse
	border-bottom 1px solid $colorOrange
	transition all 0.3s $transitionAnimation

	&:hover
		border-bottom-color transparent

.link-white--bottom
	border-bottom 1px solid #fff
	transition all 0.3s $transitionAnimation

	&:hover
		border-bottom-color transparent

.link-white--bottom-reverse
	border-bottom 1px solid transparent
	transition all 0.3s $transitionAnimation

	&:hover
		border-bottom-color #fff

.link--showdow-black-blue
	box-shadow inset 0 -1px $colorLightBlack, inset 0 -4px transparent
	transition box-shadow 0.3s $transitionAnimation, color 0.3s $transitionAnimation

	&:hover
		color $colorBlue
		box-shadow inset 0 -1px $colorBlue, inset 0 -4px transparent

.link--showdow-blue
	box-shadow inset 0 -1px transparent, inset 0 -4px transparent
	transition box-shadow 0.3s $transitionAnimation, color 0.3s $transitionAnimation

	&:hover
		box-shadow inset 0 -1px $colorBlue, inset 0 -4px transparent

.button
	display block
	padding 10px 15px
	box-sizing border-box

	border-radius 45px

	border 2px solid

.button--orange
	border-color $colorOrange
	color $colorOrange
	line-height 1

	transition color 0.3s $transitionAnimation, border-color 0.3s $transitionAnimation, background 0.3s $transitionAnimation

	&:hover
		background $colorOrange
		color #fff

.button--orange-reverse
	border-color $colorOrange
	background $colorOrange
	color #fff
	line-height 1

	transition color 0.3s $transitionAnimation, border-color 0.3s $transitionAnimation, background 0.3s $transitionAnimation

	&:hover
		background #ffffff
		color $colorOrange

.button--blue
	border-color $colorBlue
	color $colorBlue
	line-height 1

	transition color 0.3s $transitionAnimation, border-color 0.3s $transitionAnimation, background 0.3s $transitionAnimation

	&:hover
		background $colorBlue
		color #fff

.button--white
	border-color #fff
	color #fff
	line-height 1

	transition color 0.3s $transitionAnimation, border-color 0.3s $transitionAnimation, background 0.3s $transitionAnimation

	&:hover
		background #fff
		color $colorOrange

.button--orange-flood
	background $colorOrange
	color #fff
	line-height 1

	transition background 0.3s $transitionAnimation
	border-color $colorOrange

	&:hover
		background #e68f1a

/*** main style ***/

/*** block intro ***/
.intro
	position relative
	width 100%
	min-height 400px
	margin-bottom 35px

	&:after
		content ""
		position absolute
		top 0
		left 0
		right 0
		bottom 0

		background-color rgba(0, 0, 0, 0.4)
		z-index 1

	.intro-img
		position absolute
		left 0
		top 0
		right 0
		bottom 0

		display block
		width 100%
		height 100%

		z-index -1

		object-fit cover
		object-position bottom

	.intro-text
		position relative
		top 0
		bottom 0

		max-width 850px
		margin 0 auto

		padding 110px 0
		box-sizing border-box

		text-align center

		font-size 50px
		font-family "ProximaNovaBold"
		line-height 60px

		color #fff

		z-index 10

	.intro-advantages
		position relative
		left 50%

		display flex
		justify-content space-between

		transform translateX(-50%)
		max-width 870px

		margin-top -50px
		padding-bottom 130px

		z-index 10

	.intro-advantages-item
		display flex
		justify-content flex-start
		width 30%

		margin-right 3%

		opacity 0
		transform translateY(-50%)

		transition opacity 0.6s $transitionAnimation, transform 0.6s $transitionAnimation

		&.active
			opacity 1
			transform translateY(0%)

		&:last-child
			margin-right 0

		.intro-advantages-icon
			display inline-block
			width 25px
			min-width 25px

			margin-right 20px

			vertical-align top

			svg
				display block
				width 100%

				path
					fill #fff

		.intro-advantages-text
			display inline-block
			font-size 20px
			font-family "ProximaNovaSemibold"

			color #fff

			line-height 25px

		sup
			vertical-align top
			font-size 12px
			line-height 1
/*** //block intro ***/


/*** block filter home ***/
.filter
	position relative

	margin-top 10px
	margin-bottom 35px

	.filter-tabs
		padding-top 25px

		border-top 1px solid $colorTurquoise

		&--center
			text-align center

	.filter-clear
		position absolute
		right 0
		top -40px

		color #9B9A9B

		font-family "ProximaNovaSemibold"
		font-size 12px

		&.reset
			color $colorOrange

.filter-tabs
	margin-bottom 30px

	.filter-tab
		display inline-block
		margin-right 15px
		margin-bottom 5px

		padding 13px 20px
		box-sizing border-box

		border 1px solid $colorLightGray
		border-radius 100px

		font-family "ProximaNovaSemibold"
		font-size 15px

		cursor pointer

		transition border-color 0.3s $transitionAnimation, background 0.3s $transitionAnimation, color 0.3s $transitionAnimation

		&:hover
			border-color $colorBlue
			color $colorBlue

		&.active-tab
			border-color $colorBlue
			background $colorBlue
			color #fff

			&:hover
				background #fff
				color $colorBlue

		&:last-child
			margin-right 0

.filter-list
	.filter-item
		transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

		&.hide-block
			display none

		&.hide
			transform translateY(10px)
			opacity 0

.form-filter
	.filter-submit
		margin 30px auto 0 auto

		font-size 18px
		padding 13px 30px

	.filter-selected-regions-list
		display flex
		justify-content flex-start
		align-items center
		flex-wrap wrap
		border-bottom 1px solid $colorTurquoise

		.filter-selected-regions-item
			position relative
			display block
			margin-bottom 20px
			margin-right 20px

			padding 13px 20px
			box-sizing border-box

			border-radius 50px

			background #f6f7fa

			cursor pointer

			.form-item--checkbox
				display none
				opacity 0

			.selected-regions-item-text
				font-size 14px
				padding-right 25px

			.selected-regions-item-close
				position absolute
				right 15px
				top 15px
				display block
				width 13px
				height 13px

				svg
					display block
					width 100%

					path
						transition fill 0.3s $transitionAnimation

				&:hover
					svg
						path
							fill $colorLightBlack

.form
	margin-top 35px

	input[type="text"]:disabled
		background #eeecec

	.form-row
		position relative
		display flex
		justify-content space-between

		margin-bottom 35px

		&-100
			width 100%
		&-50
			width 48%

		.form-holder
			position relative
			display inline-block
			width 100%


		.form-item-title
			margin-bottom 15px

		.form-item
			display block
			width 100%

			padding 13px 17px
			box-sizing border-box

			border 1px solid $colorLightGray

			border-radius 3px
			font-size 16px
			background #fff

			transition background 0.3s $transitionAnimation, border-color 0.3s $transitionAnimation

			&:hover
				background $colorLightGray

			&--hidden
				position absolute
				opacity 0

			&.error
				background #f6bcbc
				border-color #f6bcbc

		.form-filter-search
			position absolute
			top 10px
			right 13px

			display block
			width 27px
			height 27px

			.form-filter-search-icon
				display block
				width 100%

				transition transform 0.3s $transitionAnimation

				svg
					display block
					width 100%

					path
						fill $colorLightBlack

			&:hover
				.form-filter-search-icon
					transform rotate(15deg)

	label.error
		position absolute
		top 50px
		display block

		color #f6bcbc
		font-size 14px

.form-label
	display inline-block
	margin 0 25px 20px 0

	cursor pointer

	vertical-align top

	&:last-child
		margin-right 0

	input
		position absolute
		left 0
		top 0

		display block
		width 100%
		height 100%

	.jcf-checkbox
		position relative
		display inline-block
		width 30px
		height 30px

		vertical-align middle

		border 1px solid #d0d0d0
		margin-right 10px


		span
			position absolute
			top 5.7px
			left 4.9px

			display block
			width 22px
			height 20px

			background-image url("../svg/check_blue.svg")
			background-repeat no-repeat
			background-size contain

			transform translateY(5px)
			opacity 0

			transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

		&.jcf-checked
			span
				opacity 1
				transform translateY(0)

	.form-item-checkbox-title
		font-family "ProximaNovaSemibold"

.checkbox-list-container
	display inline-block
	margin 0 25px 20px 0
	vertical-align middle

	.checkbox-list-container-title
		display inline-block
		margin 10px 30px 0 0

	.form-label
		position relative
		margin-right 15px

		.jcf-checkbox
			position absolute
			top 0
			left 0
			width 100%
			height 100%

			border-radius 100px
			box-sizing border-box

			transition border-color 0.3s $transitionAnimation, background 0.3s $transitionAnimation, color 0.3s $transitionAnimation

			span
				display none

			&:hover
				border-color $colorBlue

		.form-item-checkbox-title
			position relative
			display block
			padding 10px 25px

			transition color 0.3s $transitionAnimation

			z-index 10

		&.jcf-label-active
			.jcf-checkbox
				&.jcf-checked
					border-color $colorBlue
					background $colorBlue

			.form-item-checkbox-title
				color #fff

.form
	.jcf-range
		display block
		width 100%
		height 100%

	.jcf-range-wrapper
		position relative
		display block

		.jcf-range-display-wrapper
			display block
			width 100%
			height 100%

		.jcf-range-display
			position absolute
			top 7px

			display block
			height 3px
			background-color $colorBlue

			z-index 20

	.jcf-range-track
		position relative
		left 0
		display block

		width 100%
		height 45px

		&:after
			content ""
			position absolute
			top 7px
			display block
			width 100%
			height 3px

			background-color $colorLightGray

			z-index 10

		.jcf-range-handle
			position absolute

			display block
			width 15px
			height 15px

			border-radius 50%

			background-color $colorBlue

			cursor pointer

			z-index 30

			box-shadow 0px 0px 0px 7px rgba(#009ecc, 0.70)

			.jcf-range-count
				position absolute
				top 30px

				display block
				width 100%
				height 15px

				text-align center

				font-size 16px

				.jcf-range-count-number
					position absolute
					left 50%

					display block
					width max-content

					text-align center

					transform translateX(-40%)

					&.left
						left -7px
						transform translateX(0)

					&.right
						left auto
						right -7px
						transform translateX(0)

					svg
						position absolute
						top 2px
						width 9px
				sup
					vertical-align top
					font-size 10px

	.jcf-select-form-item--select
		position relative
		display block
		width 100%

		padding 13px 17px
		box-sizing border-box

		border 1px solid $colorLightGray

		border-radius 3px
		font-size 18px
		font-family "ProximaNovaSemibold"

		background #fff

		cursor pointer
		transition background 0.3s $transitionAnimation

		.jcf-select-opener
			position: absolute
			top 54%
			right: 17px

			display block
			width 20px
			height 11px

			background-image url(../svg/arrow_bottom.svg)

			background-size contain
			background-repeat no-repeat

			transform translateY(-50%)
			transition background-image 0.3s $transitionAnimation

		&:hover
			background $colorLightGray

.regions-container
	position relative
	width auto
	max-width 690px
	margin 0 auto
	display block
	padding 55px 70px 40px 70px

	background #fff
	box-shadow 0px 0px 27px -1px rgba(158, 158, 158, 0.3)
	z-index 100

	.regions-container-list
		.regions-title
			padding-left 15px
			box-sizing border-box
			margin-bottom 40px
			font-size 16px
			font-family "ProximaNovaSemibold"

		.regions-show
			max-width 260px
			margin 40px auto 0 auto

			text-align center

			font-size 16px
			font-family "ProximaNovaSemibold"

		ul
			display grid
			grid-template-columns repeat(auto-fill, minmax(170px, 1fr))
			grid-gap 5px 80px
			padding-bottom 30px

			border-bottom 1px solid $colorLightGray
			li
				position relative
				box-sizing border-box

				cursor pointer

				.regions-text
					position relative
					display block
					padding 10px 35px 10px 15px
					box-sizing border-box

					border-radius 50px
					background #fff

					transition background 0.3s $transitionAnimation, color 0.3s $transitionAnimation

					font-size 14px

					white-space nowrap

				.regions-close
					position absolute
					right 15px
					top 11.5px

					display block
					width 13px
					height 13px

					background-image url("../svg/close_white.svg")
					background-size contain

					z-index 10
				&.select
					span
						background $colorBlue
						color #fff

	.btn-container-close
		position absolute
		top 20px
		right 20px

		display block
		width 20px
		height 20px

		svg
			display block
			width 100%

			path
				transition fill 0.3s $transitionAnimation

		&:hover
			svg
				path
					fill $colorLightBlack

.mfp-bg
	&.mfp-fade
		background transparent
		opacity 0

	&.mfp-blue
		opacity 1

.mfp-fade
	.mfp-content
		opacity 0
		transform translateY(-30px)
		transition all 0.3s $transitionAnimation

	&.mfp-wrap
		&.mfp-ready
			.mfp-content
				opacity 1
				transform translateY(0)


		&.mfp-removing
			.mfp-content
				opacity 0
				transform translateY(-30px)

	.mfp-iframe-scaler
		.btn-container-close
			top 20px
			right 20px
			width 30px
			height 30px
/*** //block filter home ***/

/*** block offers ***/

.section-shadow
	padding-top 55px
	padding-bottom 80px
	box-sizing border-box

	box-shadow inset 0px 15px 70px -10px rgba(#d2d2d2, 0.85)

	background $colorLightBlue

.offers-list
	display grid
	grid-template-columns repeat(auto-fill, minmax(250px, 1fr))
	grid-gap 40px 30px
	margin-top 50px

.offers-item
	position relative
	height 100%

	color $colorLightBlack

	transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

	background #fff

	&:before
		content ""
		position absolute
		top 0
		left 0
		right 0
		bottom 0

		display block
		width 100%
		height 100%

		transform scale(0.8)
		opacity 0

		transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

		background rgba(#ffffff, 0.9)

		z-index 20

	.offers-container
		position relative
		display block
		width 100%
		height 215px

		.offers-container-mark
			position absolute
			top 10px
			left 0

			display block
			padding 5px 20px 5px 25px
			box-sizing border-box

			background-color $colorRed
			font-size 13px
			font-family "ProximaNovaBold"

			color #fff

			z-index 15

		.offers-container-price
			position absolute
			bottom 10px
			right 0

			display block
			padding 5px 25px 5px 20px
			box-sizing border-box

			background-color $colorOrange

			font-size 15px
			font-family "ProximaNovaSemibold"
			letter-spacing 1px

			color #fff

			z-index 15

		.offers-container-discount
			position absolute
			bottom 40px
			right 0

			display block
			padding 5px 25px 5px 20px
			box-sizing border-box

			background-color $colorOrange

			font-size 15px
			font-family "ProximaNovaSemibold"
			letter-spacing 1px

			color #fff
			z-index 15

			&:before
				content ""
				position absolute
				top 50%
				left 15px
				right 15px

				display block
				height 2px

				margin-top -1px

				background $colorRed

		.offers-container-img
			position absolute
			top 0
			left 0
			right 0
			bottom 0

			display block
			width 100%
			height 100%

			object-fit: cover

			z-index 10

			border-top-right-radius 5px
			border-top-left-radius 5px

		/*&:after
			content ""
			position absolute
			left 0
			top 0

			display block
			width 100%
			height 100%

			box-sizing border-box

			box-shadow inset 0px 0px 20px -10px rgba(0,0,0,0.75)

			z-index 20*/

	.offers-container-favorites
		position absolute
		top 65px
		left 50%

		transition all 0.3s $transitionAnimation

		transform translate(-50%,-30px)

		opacity 0

		z-index 30

		.offers-container-favorites-icon
			display block
			width 60px
			height 60px

			margin 0 auto 25px auto

			svg
				display block
				width 100%

				path[fill=none]
					stroke-width 8

				path
					transition fill 0.3s $transitionAnimation

			&:hover
				svg
					path
						fill $colorOrange

		.offers-container-favorites-text
			font-size 16px
			font-family  "ProximaNovaSemibold"
			text-align center

			color $colorOrange

			white-space nowrap

		&:hover
			.offers-container-favorites-icon
				svg
					path
						fill $colorOrange

			.offers-container-favorites-text
				border-bottom-color $colorOrange


	.offers-container-more
		position absolute
		bottom 85px
		left 50%

		width auto
		transition all 0.3s $transitionAnimation

		transform translate(-50%,30px)

		opacity 0

		z-index 30

	&:hover
		&:before
			transform scale(1)
			opacity 1

		.offers-container-favorites
			opacity 1
			transform translate(-50%,0px)

		.offers-container-more
			opacity 1
			transform translate(-50%,0px)

	.offers-information
		position relative
		padding 25px 10px
		box-sizing border-box

		background-color #fff

		.offers-name
			display block
			margin-bottom 10px

			font-size 20px
			line-height 20px

			text-align left

		.offers-district
			display block
			font-size 13px
			color #4A494A

		.offers-time
			position absolute
			top 32px
			right 15px

			font-size 13px
			font-family "ProximaNovaSemibold"
			color #4A494A

		.offers-floor
			margin-top 60px
			font-size 15px
			color #9B9A9B

			.active
				margin-left 10px
				margin-right 5px
				color $colorLightBlack
				font-family "ProximaNovaSemibold"
				font-size 16px

		dl
			margin-top 50px
			overflow hidden

			font-size 16px
			dt
				color #9B9A9B

				span
					position relative
					padding-right 5px
					background #fff
					z-index 10

					&.rub
						padding-right 0

				&:after
					content ""
					position absolute
					top 10px
					bottom 2px
					left 0
					width 100em
					height 1px

					border-bottom 1px dotted
			dd
				span
					display inline-block
					position relative
					padding-left 5px

					background #fff
					z-index 10

					&.old-price
						position relative
						margin-bottom 4px
						&:before
							content ""
							position absolute
							top 50%
							left 5px
							right 5px

							margin-top -1px


							display block
							height 2px
							background #f01624

					&.rub
						padding-left 0

	&.load-events-item
		transform translateY(-30px)
		opacity 0

.offers-more
	margin-top 40px
	text-align center

	a
		padding 12px 15px
		max-width 220px
		margin 0 auto
		text-align center
		font-family "ProximaNovaSemibold"

.load-more
	padding 12px 15px
	max-width 220px
	margin 0 auto
	text-align center
	font-family "ProximaNovaSemibold"

/*** //block offers ***/


/*** section block ***/

.section
	display flex
	justify-content space-between

	margin 50px 0 90px 0


.section-item
	width 50%

	.section-container
		position relative
		display block
		width 100%
		height 100%

		&:after
			content ""
			position relative
			top 0
			left 0

			display block
			width 100%
			padding-bottom 70%

		.section-container-img
			position absolute
			top 0
			left 0
			bottom 0
			right 0

			display block
			width 100%
			height 100%

			object-fit cover

		.section-container-mark
			position absolute
			left 0
			top 20px

			display block
			padding 10px 10px 10px 25px
			box-sizing border-box

			font-size 18px
			font-family "ProximaNovaBold"

			background $colorRed

			color #fff

			z-index 10

	.section-information-container
		position relative
		top 50%
		transform translateY(-50%)

	.section-information
		display block
		width 100%
		height 100%
		padding 45px 0 45px 10%
		box-sizing border-box
		background $colorOrange

		.section-name
			margin-bottom 25px

			font-size 28px
			font-family  "ProximaNovaSemibold"
			color #fff

		.section-developer
			margin-bottom 10px
			font-size 20px
			color #fff

		.section-district
			margin-bottom 40px
			font-size 14px

		.section-area
			margin-bottom 25px
			font-size 20px

		sup
			vertical-align top
			font-size 12px

		.section-price
			margin-bottom 45px
			font-size 20px

		dl
			max-width 240px
			margin-bottom 60px

			dt
				color $colorLightBlack
			dd
				font-family "ProximaNovaRegular"
				color $colorLightBlack

		.section-more
			max-width 135px
			padding 13px 20px
			text-align center

/*** //section block ***/


/*** form-call block ***/

.order-call
	position relative
	padding 50px 0 60px 0
	box-sizing border-box

	h2
		margin-bottom 40px
		font-size 28px

		color #fff

.form-order-call
	display inline-block
	width 50%
	max-width 420px

	padding-left 8%

	margin-top 0

	.form-row
		margin-bottom 25px

	.form-item
		&::-webkit-input-placeholder
			color $colorLightBlack

	.order-call-privacy
		font-size 14px

		.link
			display inline
			width 100%
			line-height 15px
			white-space initial

	.send-order
		padding 10px 25px
		font-size 16px
		font-family "ProximaNovaSemibold"

.order-call-hotline
	display inline-block
	width 40%

	float right

	.order-call-hotline-text
		display block
		width 100%
		margin-bottom 15px

		font-size 18px

		color #fff

		letter-spacing 1px

	.order-call-hotline-mobile
		display block
		width 100%
		margin-bottom 5px

		font-size 28px
		font-family "ProximaNovaSemibold"

		white-space nowrap

.order-call-icon
	position absolute
	bottom 50px
	right 30px

	display block
	max-width 190px

	svg
		display block
		width 100%

/*** //form-call block ***/


/*** form-sub ***/

.order-sub
	position relative
	padding 55px 0 20px 0
	box-sizing border-box

	h2
		margin-bottom 40px
		font-size 28px

		color #fff
		line-height 32px


.form-order-sub
	width 100%
	max-width 465px
	margin 0 auto

	.send-order
		max-width 250px
		width 100%
		margin 0 auto

		font-size 16px
		font-family "ProximaNovaSemibold"
/*** //form-sub ***/


/*** feature ***/

.feature
	margin 60px 0 80px 0

	h2
		margin-bottom 40px

.feature-list
	display flex
	justify-content space-between
	flex-wrap wrap
	align-items baseline

.feature-item
	width 30%

	.feature-container
		display block
		width 65px

		margin 0 auto
		margin-bottom 30px

		.feature-container-img
			display block
			width 100%
			min-width 100%

	.feature-title
		display block
		margin-bottom 20px

		text-align center

		font-size 20px
		font-family "ProximaNovaSemibold"

		color #333333

	.feature-text
		display block

		font-size 16px
		line-height 22px

		text-align center

		color #4A494A

/*** //feature ***/


/*** about ***/

.about-home
	padding 35px 0 70px 0

	h2
		margin-bottom 35px

	.about-video
		display block
		max-width 635px
		width 100%
		height 355px

		margin 0 auto

/*** //about ***/


/*** map ***/

.map-container
	position relative
	width 100%
	height 735px

	margin-bottom 50px

	.map
		display block
		width 100%
		height 100%

	.map-contacts
		position absolute
		top 50%
		left 65px
		display block
		width 395px

		padding 50px 0 60px 0
		box-sizing border-box

		margin-top -185px

		background $colorBlue

		text-align center

		z-index 10

		font-family "ProximaNovaSemibold"

		.map-contacts-title
			margin-bottom 40px
			font-size 28px
			color #fff

		.map-contacts-street
			font-size 16px
			color #fff

		.map-contacts-floor
			font-size 16px
			color #fff
			margin-bottom 25px

		.map-contacts-hotline
			width 100%

/*** //map ***/


/*** reviews-home ***/

.reviews-home
	margin-bottom 90px

	h2
		margin-bottom 45px

	.reviews-home-all
		display block
		width 87px
		margin 0 auto
		margin-top 50px


.reviews-home-slider
	.owl-dots
		margin-top 35px
		text-align center
		.owl-dot
			position relative
			display inline-block
			width 10px
			height 10px

			margin-right 30px

			border-radius 50%

			border 2px solid $colorOrange

			&:last-child
				margin-right 0

			span
				position absolute
				top 0
				left 0

				display block
				width 100%
				height 100%

				border-radius 50%

				background transparent

				transition background 0.3s $transitionAnimation

			&.active
				span
					background $colorOrange


.reviews-home-item
	position relative
	padding-bottom 30px

	.reviews-home-video
		position absolute
		top 10%

		max-width 465px
		width 100%
		height 305px

		transition opacity 0.3s $transitionAnimation, transform 0.3s $transitionAnimation
		transform translateX(-50px)
		transition-delay 0.8s
		opacity 0

		z-index 10

	.reviews-home-container
		display block
		width 60%
		height 100%
		margin-left 40%

		padding 30px 50px 45px 130px
		box-sizing border-box

		transition opacity 0.3s $transitionAnimation, transform 0.3s $transitionAnimation
		transition-delay 0.5s
		transform translateY(20px)

		opacity 0

		background $colorLightBlue

		&:after
			content ""
			position absolute
			bottom -30px
			left 10%
			width 0
			height 0
			border-top 30px solid $colorLightBlue
			border-right 30px solid transparent

		.reviews-home-icon
			display block
			max-width 85px
			width 100%

			margin-bottom 15px

			transition opacity 0.3s $transitionAnimation, transform 0.3s $transitionAnimation
			transition-delay 0.8s
			transform translateY(-10px)
			opacity 0


			svg
				overflow initial
				display block
				width 100%

				path
					stroke #d1d1d1
					stroke-width 8

		.reviews-home-name
			margin-bottom 40px
			font-size 16px

			color #000

			.reviews-home-name-lastname
				font-family "ProximaNovaSemibold"


		.reviews-home-text
			position relative

			max-height 215px
			margin-bottom 20px
			line-height 24px
			color #000

			overflow hidden

			&:after
				content "..."
				position absolute
				bottom -1px
				right 0


.owl-item
	&.active
		.reviews-home-item
			.reviews-home-video
				transform translateX(0px)
				opacity 1

			.reviews-home-container
				transform translateY(0px)
				opacity 1

				.reviews-home-icon
					transform translateY(0)
					opacity 1

/*** //reviews-home ***/


/*** causes ***/

.causes
	padding 55px 0 50px 0
	width 100%

	h2
		margin-bottom 40px
		font-size 28px

	.causes-text
		columns 2
		column-gap 40px

		margin-bottom 60px
		font-size 16px

		p
			display flex
			font-size 16px

	.causes-more
		display block
		width 85px
		margin 0 auto

		color #4A494A

		&:hover
			color $colorOrange
/*** //causes ***/

.popular
	display flex
	justify-content space-between
	margin-bottom 40px

	h3
		display block
		width 100%
		text-align left
		margin-bottom 30px

	.popular-col
		width 100%

		&--60
			max-width 60%

		&--40
			max-width 40%

		&--30
			max-width 30%

	.popular-list
		&--column
			columns 2
			column-gap 0 20px

		.popular-item
			white-space nowrap

		.popular-item-link
			display inline-block
			margin-right 5px
			font-size 14px
			margin-bottom 10px

		.popular-item-count
			font-size 14px
			color $colorGray

.find-result
	display block
	overflow hidden

	.find-result-form
		display inline-block

	.jcf-select-find-result-select
		position relative
		display inline-block
		width 235px

		padding 13px 20px
		box-sizing border-box

		background #ffffff

		border 1px solid $colorLightGray

		border-radius 30px


		&.jcf-drop-active
			border-bottom none
			border-radius 21px 21px 0 0

		cursor pointer

		.jcf-select-text
			font-family "ProximaNovaSemibold"

		.jcf-select-opener
			position absolute
			right 15px
			top 18px

			width 20px
			height 10px

			transition transform 0.3s $transitionAnimation

			&:before
			&:after
				content ""
				position absolute
				top 0
				left 0
				display block
				width 100%
				height 100%

				background-size contain
				background-repeat no-repeat

				transition opacity 0.3s $transitionAnimation

			&:before
				opacity 1
				background-image url("../svg/arrow_bottom.svg")
			&:after
				opacity 0
				background-image url("../svg/arrow_bottom_orange.svg")


		&:hover
			.jcf-select-opener
				&:before
					opacity 0
				&:after
					opacity 1

		&.jcf-drop-active
			.jcf-select-opener
				transform rotate(180deg)

	.find-result-text
		display block
		margin-bottom 30px
		font-size 24px
		font-family "ProximaNovaSemibold"
		text-align center
		color $colorLightBlack

	.find-result-button
		position relative
		float right
		display inline-block

		padding 13px 15px 13px 45px
		box-sizing border-box

		vertical-align top
		background #fff

		font-size 14px
		font-family "ProximaNovaSemibold"

		color $colorOrange
		line-height 1

		border-color #fff
		background #fff

		transition border-color 0.3s $transitionAnimation, color 0.3s $transitionAnimation, background 0.3s $transitionAnimation

		&.link
			margin-left 10px

		.find-result-button-icon
			position absolute
			left 10px
			top 50%
			display block
			max-width 20px

			transform translateY(-50%)

			svg
				display block
				width 100%

				path
					transition fill 0.3s $transitionAnimation

		&.find-result-button--map
			.find-result-button-icon
				svg
					path
						fill #9b9a9b

			.find-result-button-text
				color #9b9a9b
				transition color 0.3s $transitionAnimation

		&:hover
			background $colorOrange
			color #fff

			&.find-result-button--list
				.find-result-button-icon
					svg
						path
							fill #fff

			&.find-result-button--map
				.find-result-button-icon
					svg
						path
							fill #fff

				.find-result-button-text
					color #fff

.jcf-select-drop.jcf-select-find-result-select
	display block
	padding 13px 20px
	box-sizing border-box

	background #ffffff

	border-left 1px solid $colorLightGray
	border-right 1px solid $colorLightGray
	border-bottom 1px solid $colorLightGray

	border-bottom-right-radius 30px
	border-bottom-left-radius 30px

	z-index 1000

	.jcf-list-content
		li
			cursor pointer
			margin-bottom 20px

			&:first-child
				display none

			.jcf-option
				font-family "ProximaNovaSemibold"
				transition 0.3s color $transitionAnimation

				&:hover
					color $colorOrange

				&.jcf-option-disabled
					display none
			&:last-child
				margin-bottom 0
/*** apartment ***/

.apartment
	margin-top 50px

	h2
		padding-top 50px

	p
		font-size 18px

	.offers-list
		padding-bottom 65px

	.apartment-header
		display flex
		justify-content space-between

		.apartment-preview-text-container
			width auto
			padding 0
			background transparent

		.apartment-preview-text-icon
			display inline-block
			margin-right 15px

		.apartment-preview-text-info
			display inline-block
			vertical-align top
			margin-top 15px

		.apartment-preview-text-price
			margin-bottom 15px

		.apartment-preview-text-credit
			margin-bottom 15px

		.apartment-preview-order
			padding 13px 35px

		.apartment-deadline
			margin-top 25px

		.apartment-deadline-term
			display inline-block
			font-size 18px
			color $colorGray

		.apartment-deadline-finish
			display inline-block
			margin-left 40px
			font-size 18px
			color $colorGray

	.apartment-title
		margin-bottom 25px
		font-size 34px
		font-family "ProximaNovaSemibold"

		sup
			vertical-align top
			font-size: 20px

	.apartment-location
		a
			margin-left 5px

			&.apartment-location-map
				margin-left 25px

			&:first-child
				margin-left 0
				margin-right 5px
	.apartment-preview
		margin-top 45px
		border-top 1px solid #ebebeb
		border-bottom 1px solid #ebebeb

		background $colorLightBlue

	.apartment-preview-container
		display flex
		justify-content space-between

		.light-slider
			visibility hidden
			transition all 0.6s $transitionAnimation

			&.lightSlider
				visibility inherit

	.apartment-slider
		position relative
		display block

		.apartment-slider-item
			display block
			width 100%
			height 475px

			img
				display block
				width 100%
				height 100%

				object-fit cover

		&--w100
			width 100%

			.apartment-slider-item
				height 545px

		&--w75
			width 75%


		.lSAction
			.lSPrev
			.lSNext
				height auto
				background-image none

			svg
				display block
				width 100%

			.lSNext
				right 30px

			.lSPrev
				left 30px

		.lSGallery
			li
				position relative
				height 65px
				outline 3px solid transparent
				outline-offset -3px
				box-sizing border-box
				transition outline-color 0.3s $transitionAnimation

				a
					width 100%
					height 100%
					img
						display block
						width 100%
						height 100%

						object-fit cover

				&:hover
				&.active
					border-radius 0
					outline 3px solid $colorOrange

				.tour
					position absolute
					top 0

					z-index 15

					.tour-text
						position absolute
						top 50%
						left 50%
						margin -13px 0 0 -35px

						padding 5px 10px
						background $colorOrange

	.apartment-preview-text-container
		width 25%
		box-sizing border-box
		transition top 0.3s $transitionAnimation

		.apartment-preview-text
			padding-top 45px
			padding-left 35px
			box-sizing border-box

			background $colorLightBlue

			&.fixed-element
				position fixed
				top 70px
				right 0

				width 100%
				padding 50px 0 50px 35px
				box-sizing border-box

				z-index 200

				opacity 0

			&.fixed-element--show
				opacity 1
				transition opacity 0.5s $transitionAnimation

			&.fixed-element--stop
				position absolute
				left 0
				right 0
				bottom 0

			&.fixed-element--hide
				opacity 0

	.apartment-preview-text-icon
		display block
		width 55px
		margin-bottom 25px

		svg
			display block
			width 100%

			path
				transition fill 0.3s $transitionAnimation
				stroke-width 8

		&:hover
			svg
				path
					fill $colorOrange

	.apartment-preview-text-price
		margin-bottom 25px
		font-size 28px
		font-family "ProximaNovaSemibold"

	.apartment-preview-text-credit
		margin-bottom 35px
		font-size 18px
		color #9B9A9B

		sup
			font-size 12px
			vertical-align top

	.apartment-preview-text-id
		margin-bottom 40px

	.apartment-preview-order
		display block
		width 100%
		max-width 215px

		padding 13px
		box-sizing border-box

		text-align center

		font-size 18px
		font-family "ProximaNovaSemibold"


	.apartment-information
		margin 30px 0 0 0

		dl
			justify-items baseline

			dt
				color #9B9A9B
				font-size 18px
			dd
				font-family "ProximaNovaRegular"
				font-size 18px

			&.dark
				dt
				dd
					color $colorLightBlack

		.apartment-tabs
			padding-bottom 0

			.filter-tabs
				margin-bottom 25px

		.apartment-map
			width 100%
			height 430px
			margin 30px 0 45px 0

			.map
				display block
				width 100%
				height 100%

		.apartment-detail-info
			margin-top 30px

	&.apartment-card
		.apartment-information
			max-width 1000px
			margin 30px auto 0 auto
			padding 0 260px 0 110px
			box-sizing border-box

	.apartment-item
		margin-top 30px

	.apartment-description-item
		margin-bottom 20px

	.apartment-features
		display flex
		justify-content flex-start
		align-items baseline
		margin-bottom 25px

		flex-wrap wrap

		.apartment-features-item
			max-width 110px
			min-width 110px
			margin 0 25px 13px 0

		.apartment-features-item-icon
			max-width 65px
			width 100%
			margin-bottom 15px

			transition transform 0.3s $transitionAnimation

			background-color $colorLightBlue
			border-radius 50%

			svg
				display block
				width 100%

				path
					fill $colorBlue


		.apartment-features-item-text
			font-size 14px
			line-height 16px

		&--around
			justify-content space-between

			.apartment-features-item
				margin-right 0

	.apartment-result
		padding 25px 0
		box-sizing border-box

		margin-bottom 30px

		border-bottom 1px solid $colorLightGray

		background-color $colorLightBlue

		.apartment-result-container
			display flex
			justify-content space-between
			align-items center

			.apartment-result-text
				font-size 18px
				font-family "ProximaNovaBold"

		.apartment-result-button
			position relative
			display inline-block
			padding 15px 25px 15px 45px
			box-sizing border-box

			vertical-align top

			margin-right 20px

			background #fff
			border 2px solid #fff

			transition border-color 0.3s $transitionAnimation

			&:hover
				border-color $colorOrange

			&:last-child
				margin-right 0

			.apartment-result-button-icon
				position absolute
				top 50%
				left 10px

				display block
				max-width 25px
				margin-right 15px

				vertical-align middle

				transform translateY(-50%)

				svg
					display block
					width 100%

					path
						fill $colorGray

						transition  0.3s $transitionAnimation

			.apartment-result-button-text
				display inline-block

				vertical-align middle

			&.active-tab
				.apartment-result-button-icon
					svg
						path
							fill $colorOrange
				.apartment-result-button-text
					color $colorOrange

	.apartment-list

		.apartment-types-list
			display flex
			justify-content flex-start
			align-items center
			flex-wrap wrap

			.apartment-type
				margin-right 40px
				margin-bottom 30px

				.apartment-type-text
					display inline-block
					vertical-align middle

					color $colorGray

				.apartment-type-count
					display inline-block
					vertical-align middle
					font-family "ProximaNovaSemibold"

		.apartment-type-badge
			display inline-block
			width 25px
			height 25px

			margin-right 10px

			border-radius 50%

			vertical-align middle

			&--gray
				background $colorGray

			&--yellow
				background #ffe200

			&--green
				background #41aa33

			&--orange
				background $colorOrange


		.apartment-table
			position relative
			max-height 800px
			overflow hidden
			overflow-y auto

			table
				.apartment-type-badge
					width 20px
					height 20px

				tr
					cursor pointer

					th
						position relative

						.tablesorter-header-inner
							position relative

							&:after
								content ""

								position absolute
								top -2px
								margin-left 5px

								display inline-block
								width 10px
								height 21px
								background-image url("../svg/arrow_table.svg")
								background-size contain
								background-repeat no-repeat
								opacity 0
								transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation


						&.tablesorter-headerAsc
							.tablesorter-header-inner
								&:after
									content ""
									background-image url("../svg/arrow_table.svg")
									opacity 1

						&.tablesorter-headerDesc
							.tablesorter-header-inner
								&:after
									content ""
									opacity 1
									transform rotate(-180deg)

						&:first-child
							.tablesorter-header-inner
								&:after
									content none

					td
						min-width 85px
						transition background-color 0.3s $transitionAnimation

						&:last-child
							font-size 0

					&:hover
						td
							background-color $colorLightBlue


/*** //apartment ***/


/*** preloader ***/
@-webkit-keyframes pulse
	0%
		-webkit-box-shadow: 0 0 0 0 rgba(#f99d22, 0.8)
	70%
		-webkit-box-shadow: 0 0 0 25px rgba(#f99d22, 0)
	100%
		-webkit-box-shadow: 0 0 0 0 rgba(#f99d22, 0)
@keyframes pulse
	0%
		-moz-box-shadow: 0 0 0 0 rgba(#f99d22, 0.8)
		box-shadow: 0 0 0 0 rgba(#f99d22, 0.8)

	70%
		-moz-box-shadow: 0 0 0 25px rgba(#f99d22, 0)
		box-shadow: 0 0 0 25px rgba(#f99d22, 0)
	100%
		-moz-box-shadow: 0 0 0 0 rgba(#f99d22, 0)
		box-shadow: 0 0 0 0 rgba(#f99d22, 0)

.for-preloader
	&.preloader-active
		.preloader-bcg
			background #fff

	&.preloader-destroy
		.preloader-bcg
			opacity 0
			z-index -1

.preloader-active
	position relative

.preloader-bcg
	position absolute
	top 0
	left 0
	right 0
	bottom 0

	display block
	width 100%
	height 100%

	z-index 10

	transition all 0.3s $transitionAnimation

	.preloader-container
		position absolute
		top 50%
		left 50%

		display block
		width 88px
		height 88px

		padding 10px
		box-sizing border-box

		transform translate(-50%,-50%)

		background $colorBlue
		opacity 0.8

		border-radius 50%
		text-align center

		box-shadow: 0 0 0 rgba(#f99d22, 0.4)

		animation pulse 1.5s infinite

		z-index -1

		&:hover
			animation none

		img
			position relative
			left 50%

			display block
			width 100%
			height 100%


			transform translateX(-50%)

			z-index 100

.body-preloader
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	display block
	width 100%
	height 100%

	z-index 10000000

	background #fff

	transition opacity 0.3s $transitionAnimation

	.preloader-container
		position absolute
		top 50%
		left 50%

		display block
		width 88px
		height 88px

		padding 10px
		box-sizing border-box

		transform translate(-50%,-50%)

		background $colorBlue
		opacity 0

		border-radius 50%
		text-align center

		box-shadow: 0 0 0 rgba(#f99d22, 0.4)

		animation pulse 1.5s infinite

		z-index -1

		&:hover
			animation none

		img
			position relative
			left 50%

			display block
			width 100%
			height 100%


			transform translateX(-50%)

			z-index 100

.body-preloader
	&.hide
		opacity 0

	&.active
		.preloader-container
			opacity 1
			transition opacity 0.3s $transitionAnimation

	&.disabled
		.preloader-container
			opacity 0

/*** //preloader ***/


/*** tooltip apartment ***/

.tooltipster-base
	position fixed !important
	top 0 !important
	right 0 !important
	bottom 0 !important
	left auto !important
	width auto !important
	z-index 1020 !important

.tooltip-container
	position relative
	display none
	padding 25px 25px 30px 25px
	box-sizing border-box

	.tooltip-apartment-title
		margin-bottom 20px
		font-size 18px
		font-family "ProximaNovaSemibold"

	.tooltip-apartment-id
		margin-bottom 25px
		font-size 16px

		color #9B9A9B

	.tooltip-apartment-holder
		display flex
		align-items center
		justify-content flex-start
		max-width 200px
		min-height 300px

		margin 0 0 25px 0
		text-align center

	.tooltip-apartment-holder-sheme
		display flex
		align-items center
		justify-content flex-start
		max-width 320px

		margin 0 0 25px 0
		text-align center

	.tooltip-apartment-img
		display block
		width 100%
		height 100%

		object-fit cover

	.tooltip-apartment-icon
		display inline-block
		max-width 20px
		vertical-align middle

		margin-right 15px
		transition transform 0.3s $transitionAnimation

		will-change transform

		svg
			display block
			width 100%

			path
				transition fill 0.3s $transitionAnimation
				stroke-width 8

		&:hover
			transform scale(1.2)
			svg
				path
					fill $colorOrange

	.tooltip-apartment-button
		display inline-block
		vertical-align middle

	.tooltip-close
		position absolute
		top 25px
		right 25px

		display block
		width 25px
		height 25px

		svg
			display block
			width 100%
			path
				transition fill 0.3s $transitionAnimation
		&:hover
			svg
				path
					fill #000
	.tooltip-apartment-price
		margin-bottom 30px
		font-size 18px
		font-family "ProximaNovaSemibold"
		color #4A494A

		&-old
			position relative
			display inline-block
			margin-right 5px

			vertical-align middle

			&:before
				content ""
				position absolute
				top 8px
				left 5px
				right 5px
				width 92%
				height 2px
				background #f01624

		&-new
			position relative
			display inline-block

			vertical-align middle

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box
	border 1px solid $colorLightGray
	background #fff
	box-shadow 5px 5px 10px -5px #000
	border-radius 0

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content
	min-width 310px
	padding 0
	overflow hidden
	overflow-y auto
	line-height inherit

	color #000

	.tooltip-container
		display block
		.form
			margin-top 0

	.tooltip-apartment-empty
		display block
		width 100%
		padding 20px
		box-sizing border-box

		font-size 18px

		text-align center

.tooltipster-slide-right
	opacity 0
	transform translateX(50%)

	transition opacity 0.6s $transitionAnimation, transform 0.6s $transitionAnimation

	&.tooltipster-show
		opacity 1
		transform translateX(0)
/*** //tooltip apartment ***/


/*** apartment grid ***/

.apartment-structure
	margin-top 40px

.apartment-structure-item
	padding 30px 0
	box-sizing border-box
	border-top 1px solid $colorLightGray

	&:last-child
		border-bottom 1px solid $colorLightGray

	.apartment-structure-name
		display inline-block
		width 19%

		vertical-align top
		font-family "ProximaNovaSemibold"

.apartment-structure-grid
	position relative
	display inline-block
	vertical-align top
	width 80%

.apartment-structure-floor
	position absolute
	top 50%
	left 0
	display block

	vertical-align middle

	transform rotate(-90deg) translateY(-50%)

	text-align left

.apartment-structure-grid-container-list
	display grid
	grid-gap 5px
	padding-left 50px
	box-sizing border-box

	.apartment-structure-floor-number
		position relative
		display inline-block
		padding 8px 22px
		box-sizing border-box

		text-align center

		z-index 10

	.apartment-structure-grid-cell
		position relative
		display inline-block
		padding 8px

		cursor pointer

		z-index 10

		opacity 0
		transform translateY(-20px)

		transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

		&.show
			opacity 1
			transform translateY(0px)

		&:hover
			opacity 0.4



	.apartment-structure-grid-cell-text
		display flex
		justify-content flex-start

.apartment-structure-grid-container-floors
	position absolute
	top 0
	left 0
	bottom 0
	right 0

	display block
	padding-left 40px
	box-sizing border-box

	.apartment-structure-grid-container-floors-item
		display flex
		justify-content flex-end
		align-items center
		width 100%

		height 30px
		margin-bottom 5px

		transition background 0.3s $transitionAnimation

		cursor pointer

		&:last-child
			margin-bottom 0

		&:hover
			background $colorLightBlue

		&:hover
			.apartment-structure-grid-container-floors-link
				opacity 1

	.apartment-structure-grid-container-floors-link
		display block
		width auto
		margin-right 15px

		font-size 16px

		color $colorBlue
		opacity 0
		transition opacity 0.3s $transitionAnimation



/*** //apartment grid ***/


/*** apartment progress ***/

.apartment-progress
	padding 40px 0

.apartment-progress-text
	display block
	margin-bottom 25px

	font-size 18px
	font-family "ProximaNovaBold"

.apartment-progress-bar
	position relative

	margin-bottom 20px
	width 100%
	height 10px

	background $colorTurquoise

	.apartment-progress-bar-fill
		position absolute
		left 0
		top 0
		bottom 0

		display block
		width 0
		height 100%

		background $colorBlue

.apartment-progress-list
	display flex
	justify-content space-between

	.apartment-progress-item
		font-size 14px

		&.active
			color $colorBlue
			font-family "ProximaNovaSemibold"


/*** //apartment progress ***/


/*** options ***/

.options
	padding 30px 0 50px 0
	box-sizing border-box

	h2
		margin-bottom 55px

.options-list
	display flex
	width 100%
	flex-wrap wrap
	justify-content flex-start
	align-items baseline

	&--2
		.options-item
			width 49%
			margin-right 2%

			&:nth-child(2n)
				margin-right 0
	&--3
		.options-item
			width 30%
			margin-right 5%

			&:nth-child(3n)
				margin-right 0
	&--4
		.options-item
			width 24%
			margin-right 2%

			&:nth-child(4n)
				margin-right 0

.options-item
	position relative
	min-width 200px
	padding 0 0 30px 0
	box-sizing border-box

	.options-container
		position relative
		width 100%
		margin-bottom 25px

	.options-img
		display block
		width 100%
		height 100%

		object-fit cover

	.options-title
		margin-bottom 25px
		font-size 20px
		color #333333

		font-family "ProximaNovaSemibold"

	.options-text
		font-size 16px
		line-height 22px
		color #4A494A

	.options-more
		position absolute
		top 50%
		left 50%

		max-width 170px
		opacity 0

		text-align center

		transform translate(-50%,-60%)
		transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

		z-index 20

	&.options-item--hover
		box-shadow 0px 0px 22px -2px transparent

		transition box-shadow 0.3s $transitionAnimation

		&:before
			content ""
			position absolute
			top 0
			left 0
			bottom 0
			right 0

			display block
			width 100%
			height 100%

			transform scale(0.8)
			background rgba(255, 255, 255, 0.95)

			opacity 0
			transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

			z-index 10

	.options-icon
		display block
		max-width 25px
		height 25px
		width 100%

		svg
			display block
			width 100%
			min-height 100%

			transition transform 0.3s $transitionAnimation

	&:hover
		&.options-item--hover
			box-shadow 0px 0px 30px -5px rgba(0,0,0,0.75)

			&:before
				transform scale(1)
				opacity 1

		.options-more
			opacity 1
			transform translate(-50%,-50%)


/*** //options ***/


/*** investments-info ***/

.investments-info
	padding 30px 0 100px 0
	box-sizing border-box

	h2
		max-width 725px
		font-size 28px
		line-height 43px
		margin 0 auto 60px auto
	p
		line-height 26px

	.options-list
		margin-top 60px

.investments-offers
	padding 40px 0

	h2
		margin-bottom 20px
/*** //investments-info ***/


/*** employees ***/

.employees
	padding 0 0 110px 0

	.employees-section
		display block
		margin-bottom 75px

		font-size 20px
		font-family "ProximaNovaSemibold"

		color #333333
		text-align center

.employees-list
	display flex
	justify-content flex-start
	flex-wrap wrap

.employees-item
	display flex
	justify-content space-between
	flex-wrap wrap
	margin-bottom 90px

	width 45%
	margin-right 7%

	&:nth-child(2n)
		margin-right 0

	.employees-container
		width 50%
		padding-right 50px
		box-sizing border-box

	.employees-img
		display block
		width 100%
		height 100%

		object-fit cover

	.employees-info
		width 50%

	.employees-name
		margin 5px 0 7px 0

		font-family "ProximaNovaSemibold"
		font-size 18px

	.employees-position
		margin 0 0 15px 0

		font-size 18px
		line-height 25px

	.employees-contact
		display inline-block
		margin-bottom 10px

/*** //employees ***/


/*** vacancies ***/

.vacancies
	margin-bottom 100px
	.page-title
		margin-bottom 70px

.vacancies-container
	display flex
	justify-content space-between
	flex-wrap wrap

.vacancies-list
	width 66%
	padding 50px 55px
	box-sizing border-box

	background $colorLightBlue

.vacancies-item
	margin-bottom 25px

	.vacancies-item-title
		margin-bottom 40px

		font-size 25px
		font-family "ProximaNovaSemibold"

	.vacancies-item-subtitle
		margin 50px 0 30px 0
		font-size 20px
		font-family "ProximaNovaSemibold"

		color #333333

	.vacancies-link
		margin-top 50px
		max-width 270px

		text-align center

.vacancies-contacts
	width 34%
	padding 50px 0 0 40px
	box-sizing border-box

	.vacancies-subtitle
		margin-bottom 20px
		font-size 20px
		font-family "ProximaNovaSemibold"
		color #333333

	.vacancies-link
		display inline-block
		margin-bottom 20px
		font-size 18px
		color #4A494A
/*** //vacancies ***/


/*** about ***/
.about
	h1
		margin 55px 0 50px 0

	p
		font-size 16px
		color #4A494A

.about-info
	margin 65px 0 35px 0
	padding 50px 0 95px 0

	background-image url(../svg/about_icon_all.svg)
	background-repeat no-repeat
	background-size 1120px
	background-position center 8px

	h2
		margin-bottom 20px

	.about-info-container
		position relative
		min-height 480px
		.about-info-item
			position absolute
			display block
			transform translateY(-20px)

			opacity 0

			transition opacity 0.3s $transitionAnimation, transform 0.3s $transitionAnimation

			z-index 10
			&.active
				opacity 1
				transform translateY(0)

			.about-info-title
				display block

				font-size 64px
				font-family "ProximaNovaLight"

				color #009DCC


			.about-info-text
				display block

				font-size 20px
				font-family "ProximaNovaSemibold"

				line-height 25px
				color #009DCC

			&:nth-child(1)
				top 0px
				left 320px

			&:nth-child(2)
				top 105px
				right 10px

			&:nth-child(3)
				top 62px
				left 75px

			&:nth-child(4)
				top 230px
				left 415px

			&:nth-child(5)
				top 255px
				left 20px

			&:nth-child(6)
				top 395px
				left 265px

			&:nth-child(7)
				top 365px
				right 60px

/*** //about ***/


/*** news **/

.news
	h1
		margin-bottom 95px

.news-list
	.news-item
		display flex
		justify-content space-between
		margin-bottom 55px
		transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

		&.load-events-item
			transform translateY(-30px)
			opacity 0

	.news-holder
		display block
		width 50%

		overflow hidden

		.news-img
			display block
			width 100%
			height 100%
			object-fit cover
			transition transform 0.3s $transitionAnimation

		&:hover
			.news-img
				transform scale(1.1)

	.news-info
		display block
		width 50%
		padding 45px 50px 25px 35px
		box-sizing border-box
		background-color $colorLightBlue

	.news-date
		margin-bottom 20px
		font-size 14px
		color #4A494A

	.news-title
		font-size 20px
		font-family "ProximaNovaSemibold"
		line-height 30px
		color #333333

	.news-text
		height 115px
		margin-top 15px

		font-size 16px

		line-height 22px
		overflow hidden

		color #4A494A

.news-more
	margin-bottom 60px


.news-detail
	h1
		margin-bottom 40px
		text-align left
		line-height 53px

	.news-detail-date
		margin-bottom 50px

	.news-detail-subtitle
		margin 50px 0 20px 0
		font-size 20px
		font-family "ProximaNovaSemibold"
		color #333333

	p
		font-size 16px
		margin-bottom 25px

	.new-detail-info
		transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

		&.load-events-item
			transform translateY(-30px)
			opacity 0

.news-detail-more
	text-align left
	margin 100px 0 120px 0

	.load-more
		margin 0

/*** //news **/


/*** reviews ***/

.reviews
	h1
		margin-bottom 85px

.reviews-list
	margin-bottom 100px

.reviews-item
	position relative

	display flex
	justify-content flex-end
	margin-bottom 110px
	transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

	&.load-events-item
		transform translateX(-30px)
		opacity 0

	.reviews-video
		position absolute
		top 50px
		left 0

		display block
		max-width 50%
		width 100%

		height 320px

		z-index 10

	.reviews-container
		position relative
		max-width 60%
		width 100%

		padding 40px 60px 40px 15%
		border 2px solid $colorOrange
		box-sizing border-box

		.reviews-icon
			width 65px
			margin-bottom 30px

			svg
				display block
				width 100%

				path
					fill $colorLightBlue
					stroke $colorLightBlue

		.reviews-name
			margin-bottom 15px
			font-size 16px
			color #000

			.reviews-name-lastname
				font-family "ProximaNovaSemibold"

		.reviews-text
			margin-bottom 25px

			font-size 16px
			line-height 24px

		&:after
			content ""
			position absolute
			bottom -52px
			left 10%
			display block
			width 0
			height 0
			border-top 52px solid $colorOrange
			border-right 52px solid transparent
			z-index 5

		&:before
			content ""
			position absolute
			bottom -47px
			left 10.4%
			display block
			width 0
			height 0
			border-top 47.5px solid #fff
			border-right 48px solid transparent
			z-index 6

	&:nth-child(2n)
		flex-flow row
		justify-content flex-start

		.reviews-video
			left auto
			right 0

		.reviews-container
			padding 40px 15% 40px 60px

			&:after
				right 10%
				left auto
				border-top 52px solid $colorOrange
				border-left 52px solid transparent
				border-right none

			&:before
				right 10.4%
				left auto
				border-top 47.5px solid #fff
				border-left 48px solid transparent
				border-right none


.reviews-more
	text-align center
	margin-bottom 100px

	.load-more
		max-width 215px
		margin 0 auto
		text-align center

.toggle-container
	display none
	opacity 0
	transform translateX(-50px)
	transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

	&.active
		display block

	&.active-animation
		opacity 1
		transform translateX(0)
/*** //reviews ***/


/*** developers ***/

.developers
	margin-bottom 100px

	h1
		margin-bottom 45px

	.page-subtitle
		max-width 570px
		margin 0 auto
		line-height 26px

	.developers-list
		display flex
		justify-content flex-start
		flex-wrap wrap
		align-items flex-start

		margin-top 50px

	.developers-item
		display block
		width 32%
		margin 0 2% 60px 0
		min-width 300px

		&:nth-child(3n)
			margin-right 0

	.developers-letter
		margin-bottom 10px
		font-size 64px
		font-family "ProximaNovaLight"

		color $colorBlue

	.developers-link
		display table
		width auto
		margin-bottom 12px
		color #4A494A

		&:hover
			color $colorBlue

	.developer-info
		.img
			width 100%
			max-width 225px

		p.right
			padding-left 280px
			box-sizing border-box

.developers-offers
	padding 60px 0 70px 0

/*** //developers ***/


/*** partners ***/

.partners
	margin-bottom 180px

	h1
		margin-bottom 80px

	.partners-list
		display flex
		flex-wrap wrap
		justify-content flex-start

	.partners-item
		width 48%
		min-width 250px
		margin-right 4%
		margin-bottom 130px

		&:nth-child(2n)
			margin-right 0

	.partners-holder
		display block
		width 70%
		max-height 130px
		margin-bottom 70px

	.partners-img
		display block
		max-height 150px

	.partners-title
		margin-bottom 15px
		font-size 20px
		font-family "ProximaNovaSemibold"

		color #333333

	.partners-text
		font-size 16px
		line-height 24px
		color #4A494A

/*** //partners ***/


/*** blog ***/

.blog
	padding-bottom 60px

	h1
		margin-bottom 45px

	.blog-search
		margin-bottom 60px
		padding 40px 40px
		box-sizing border-box

		background $colorLightBlue

	.form
		margin-top 0

	.form-row
		margin-bottom 0

	.blog-info
		display flex
		flex-wrap wrap
		justify-content space-between

		margin-bottom 35px

	.blog-container
		width 66%

	.blog-holder
		display block
		width 100%
		margin-bottom 50px

		overflow hidden

		.blog-img
			display block
			width 100%
			height 100%

			transition transform 0.3s $transitionAnimation


	.blog-title
		display block
		margin-bottom 20px

		font-size 25px
		font-family "ProximaNovaSemibold"

	.blog-link
		&:hover
			.blog-img
				transform scale(1.1)
			.blog-title
				color $colorOrange
	.blog-data
		display inline-block
		margin 0 10px 25px 0
		vertical-align middle

		font-size 14px
		color #4A494A

	.blog-views
		display inline-block
		vertical-align middle
		margin 0 10px 25px 0

		.blog-views-icon
			display inline-block
			width 35px
			height 20px
			margin-right 5px
			float left

			svg
				display block
				width 100%

		&.active
			.blog-views-icon
				svg
					path
						fill $colorOrange

		.blog-views-count
			display inline-block
			margin-top 5px
			font-size 13px
			font-family "ProximaNovaSemibold"
			color #4A494A

	.blog-rating
		display inline-block
		margin 0 10px 25px 0

		vertical-align middle

		img
			display inline-block
			width 20px
			height 20px

			margin-right 5px

			&:last-child
				margin-right 0

	.blog-text
		margin-bottom 25px
		font-size 16px
		line-height 22px
		color #4A494A

	.blog-tags
		display flex
		justify-content flex-start
		align-items center
		flex-wrap wrap

		margin-bottom 30px

		.blog-tag
			margin 0 10px 10px 0
			padding 10px 25px
			box-sizing border-box

			border-radius 25px

			text-align center
			background #eceded

			font-size 13px
			font-family "ProximaNovaSemibold"

			color #4A494A

			cursor pointer

	.blog-topics
		width 30%
		padding 40px 20px
		box-sizing border-box

		background $colorLightBlue

		p
			margin-bottom 35px

	.blog-topics-title
		margin-bottom 35px
		font-family "ProximaNovaSemibold"

	.blog-topics-item
		line-height 20px
		color #009DCC
		font-family "ProximaNovaSemibold"

	.blog-list
		display flex
		justify-content flex-start
		flex-wrap wrap
		align-items flex-start

		box-sizing border-box
		margin-bottom 50px
		border-bottom 1px solid $colorTurquoise

	.blog-item
		width 48%
		min-width 280px

		margin 0 4% 55px 0
		transition transform 0.3s $transitionAnimation, opacity 0.3s $transitionAnimation

		&:nth-child(2n)
			margin-right 0

		&.load-events-item
			transform translateY(-30px)
			opacity 0

		.blog-holder
			margin-bottom 30px

	&.blog-detail
		h1
			text-align left
			margin-bottom 45px

		h3
			margin-bottom 20px
			font-size 20px
			color #333333

		p
			font-size 16px
			line-height 22px
			color #4A494A

	.blog-actions
		display flex
		justify-content space-between
		align-items center
		flex-wrap wrap

		margin-bottom 30px

		padding 25px 0
		box-sizing border-box

		border-top 1px solid $colorTurquoise
		border-bottom: 1px solid $colorTurquoise

		.blog-share
			display flex
			justify-content flex-start
			align-items center

			.blog-share-title
				margin-right 10px

				font-size 15px
				font-family "ProximaNovaSemibold"

			.blog-share-items

				.blog-share-item
					display inline-block
					width 25px
					height 25px

					margin-right 10px

					cursor pointer
					svg
						display block
						width 100%

						path
							fill $colorGray
							fill-opacity 1
							transition fill 0.3s $transitionAnimation

					&:last-child
						margin-right 0

					&:hover
						svg
							path
								fill $colorOrange

		.blog-estimate
			display flex
			justify-content flex-start
			align-items center

			.blog-estimate-title
				margin-right 20px

				font-size 15px
				font-family "ProximaNovaSemibold"

			.blog-rating
				img
					width 25px
					height 25px
					margin-right 8px

.blog-offers
	padding 60px 0 0 0
	box-sizing border-box

	h2
		margin-bottom 50px

	.blog-list
		margin-bottom 0
		padding-bottom 0
		border none

	.blog-tags
		.blog-tag
			background #fff

/*** //blog ***/


/*** contacts ***/

.contacts
	h1
		margin-bottom 65px

	.map-container
		height 565px
		margin-bottom 0

	.contacts-holder
		width 100%
		margin-bottom 85px

		.contacts-img
			display block
			width 100%

	.contacts-container
		display flex
		justify-content flex-start
		align-items baseline

		flex-wrap wrap

		margin-bottom 100px

		.contacts-item
			width 48%
			min-width 280px

			margin-right 4%

			&:last-child
				margin-right 0

			p
				display block
				margin-bottom 20px

		.contacts-title
			margin-bottom 15px
			font-size 20px
			font-family "ProximaNovaSemibold"

			color #333333

/*** //contacts ***/


/*** 404 ***/

.page-404
	position relative

	height 100vh
	padding 95px 0 40px 0
	box-sizing border-box
	text-align center

	.page-404-logo
		display block
		max-width 240px
		margin 0 auto 35px auto

		svg
			display block
			width 100%

	.page-404-desc
		font-size 14px
		margin-bottom 70px

	.page-404-icon
		max-width 74px
		margin 0 auto 50px auto

		svg
			width 100%

	.page-404-title
		margin-bottom 50px

	.page-404-back
		font-size 16px
		line-height 28px
		color #4A494A

	.page-404-copyrights
		position absolute
		bottom 40px
		left 50%

		transform translateX(-50%)
/*** //404 ***/


/*** form-popup ***/

.form-popup
	h2
		font-size 28px
		margin-bottom 30px

	h3
		display block
		max-width 400px
		margin 0 auto

		font-size 18px
		font-family "ProximaNovaRegular"

		text-align center

	.form-order-call
		display block
		width 100%
		max-width 420px
		margin 0 auto

		padding-left 0

		.send-order
			margin 0 auto
			font-size 18px
			font-family "ProximaNovaSemibold"
	.order-call-icon
		position inherit
		display block
		max-width 155px
		width 100%

		margin 20px auto 40px auto

		svg
			path:not([fill="none"])
				fill $colorBlue

	.order-call-privacy
		line-height 20px
		.link
			display inline-block
			color $colorBlue


.mfp-blue
	.form-popup
		h2
			color #fff
		h3

		.order-call-icon
			svg
				path:not([fill="none"])
					fill #fff

		.order-call-privacy
			line-height 20px
			.link
				display inline
				color #fff

	.btn-container-close
		position absolute
		top 30px
		right 30px

		display block
		width 20px
		height 20px

		svg
			display block
			width 100%

			path
				transition fill 0.3s $transitionAnimation
				fill #fff

		&:hover
			svg
				path
					fill $colorLightBlack

/*** //form-popup ***/


/*** autocomplete ***/

.autocomplete-suggestions
	padding 0 20px 20px 20px
	box-sizing border-box

	border 1px solid $colorLightGray

	border-bottom-left-radius 5px
	border-bottom-right-radius 5px

	background #fff

	.autocomplete-suggestion
		margin-top 20px
		cursor pointer

	.autocomplate-item
		font-size 16px
		color $colorLightBlack

		transition color 0.3s $transitionAnimation

		&:hover
			color #e3e3e3

	b
		font-family "ProximaNovaSemibold"

/*** //autocomplete ***/


/*** youtube video ***/

.fake-preview
	position relative
	display block
	width 100%
	height 100%

	background-image url(../dummy/youtube/preview_youtube.png)
	background-repeat no-repeat
	background-size cover

	cursor pointer

	&:before
		content ""
		position absolute
		top 0
		left 0
		right 0
		bottom 0

		display block
		width 100%
		height 100%

		background-color rgba(0, 0, 0, 0.5)

		z-index 10

	.fake-preview-icon
		position absolute
		top 50%
		left 50%

		display block
		width 85px
		height 85px

		margin -42.5px 0 0 -42.5px

		z-index 15

		svg
			display block
			width 100%

			path[stroke-width]
				stroke-width 8px

		transition opacity 0.3s $transitionAnimation

	&:hover
		.fake-preview-icon
			opacity 0.5

	.fake-preview-link
		position absolute
		top 0
		left 0
		right 0
		bottom 0

		z-index 20

/*** //youtube video ***/

span
	&.rub
		font-family "Rubl"



body.fixed-apartment
	.apartment-stub
		padding-bottom 140px

	.apartment-header-fixed
		position fixed
		top 70px
		left 0
		right 0

		background #fff
		border-bottom 3px solid #e3e3e3

		z-index 100

		padding 30px 0
		box-sizing border-box
		opacity 0

		.apartment-header
			align-items center
			max-width 1000px
			width 100%

			margin 0 auto

			padding 0 20px
			box-sizing border-box

			.apartment-preview-text-info
				margin-top 5px

			.apartment-title
				margin-bottom 0

			.apartment-preview-text-icon
				margin-bottom 0

			.apartment-location
				display none

			.apartment-deadline
				display none

			.apartment-preview-text-price
				display none

			.apartment-preview-text-credit
				display none

	&.fixed-apartment--show
		.apartment-header-fixed
			opacity 1
			transition opacity 0.6s $transitionAnimation
