@media print
    body
        color: #000;
        background: #fff;
    svg
        display none

    .header-row
        .header-row--top
        .header-row--middle
        .header-row--bottom
            display none

        .header-top-inner
        .header-bottom-inner
            display none

    .header-logo .header-logo-img
        max-width 50%
        svg
            display block

    .header-logo.header-logo--mini
        display none

    .apartment
        margin-top 0
        .apartment-slider--w100
            .apartment-slider-item
                margin-bottom 0
                margin-top 0
                img
                    display block
                    width 50% !important

    .offers-list
        display none

    .order-call
        display none

    .page-footer
        display none !important

    .footer-row--top
        display none
        
        .footer-top
            display none !important
            .footer-top-inner
                display none !important


        .footer-next
            display none !important
            .footer-next-inner
                display none !important

    .tooltip-container
        display none
