@media screen and (max-height: 600px)
    .page-404
        padding 20px

        .page-404-logo
            max-width 200px
            margin-bottom 10px

        .page-404-desc
            margin-bottom 30px

        .page-404-icon
            margin-bottom 20px

        .page-404-title
            margin 20px 0 0 0
